
faq {

    > .container {

        margin-bottom: 100px;
        font-family: Verdana, lucida, helvetica, sans-serif;

        h2 {
            font-size: 140%;
            margin: 20px auto;
        }

        h3 {
            margin-top: 35px;
            font-size: 120%;
            background: #eee;
            background: linear-gradient(to right, #fff 0%, #eee 5%, #eee 80%, #fff 100%);
            padding: 6px 40px;
        }

        p {
            padding: 0 40px;
        }

    }

}
