@import '~core/styles/abstract.scss';

component-rule-expansion-tree {

    @extend %component;
    overflow: auto;
    padding-top: 2px;

    .count {
        font-size: 90%;
        color: #888;
    }

}
