
search-box {

    display: block;

    > div {
        position: relative;

        > input {
            display: block;
            width: 100% !important;
            padding-right: 34px;

            &::-ms-clear {
                display: none;
            }
        }

        > button {
            position: absolute;
            top: 8px;
            right: 8px;
            border: none;
            background: transparent;
            color: #ccc;
            outline: none;
            z-index: 3;

            &:hover {
                color: #999;
            }

            &:active {
                color: #ccc;
            }
        }
    }

}
