<div>
    <input type="search" class="form-control" data-bind="
        attr: {
            'aria-label': placeholder,
            placeholder: placeholder,
            value: text.peek(),
        },
        event: { keypress: keypress },
        textInput: text,
    ">
    <button class="fa fa-close" data-bind="
        css: { hide: !text() },
        click: clear,
    "></button>
</div>