@import '~core/styles/abstract.scss';

component-menu {

    @extend %component;
    position: absolute;
    z-index: 100; /* A just high enough value. */
    top: -9999px;
    outline: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: #fff;
    background-clip: padding-box;
    padding: 5px 0;
    text-align: left;

    > .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }

    .item,
    > button {
        display: block;
        border: none;
        width: 100%;
        padding: 5px 15px;
        line-height: 1.42857143;
        text-align: left;
        white-space: nowrap;
        background-color: transparent;
        color: #333;

        &:hover {
            color: #262626;
            background-color: #f5f5f5;
        }

        &.disabled {
            color: #6c757d;
            background-color: transparent;
            cursor: not-allowed;
            outline: none;
        }
    }

}
