<component-tabs class="fis" data-name="tabs" params="
    bundle: bundle,
"></component-tabs>

<component-editor class="fif" data-name="editor" data-bind="visible: false" params="
    bundle: bundle,
"></component-editor>

<component-overview class="fif" data-name="overview" data-bind="visible: true" params="
    bundle: bundle,
"></component-overview>

<component-configuration class="fif" data-name="configuration" data-bind="visible: false" params="
    bundle: bundle,
"></component-configuration>

<component-analysis class="fif" data-name="analysis" data-bind="visible: false" params="
    bundle: bundle,
"></component-analysis>