@import '~core/styles/abstract.scss';

component-bundle-creation {

    .modal {
        padding: 50px !important;
        overflow: hidden !important;

        .modal-dialog {
            @extend %fill;
            margin: 0 !important;

            .modal-content {
                @extend %fill;
                overflow: hidden !important;

                form {
                    @extend %fill;
                    @extend %fcc;

                    .modal-header {
                        @extend %fis;
                        padding: 12px 15px;

                        h4 {
                            margin: 5px 0;
                        }
                    }

                    .modal-body {
                        @extend %fif;
                        background-color: #fff;
                        overflow-x: auto;
                        overflow-y: auto;

                        td:nth-child(2) {
                            min-width: 400px;
                        }
                    }

                    .modal-footer {
                        @extend %fis;
                        padding: 10px;
                    }
                }
            }
        }
    }

}
