
/* *****************************************************************************
 *  Fonts
 * ****************************************************************************/

@font-face {
    font-family: "Inconsolata";
    src: url("../fonts/google-fonts/Inconsolata/Inconsolata-Regular.ttf");
}
@font-face {
    font-family: "Cousine";
    src: url("../fonts/google-fonts/Cousine/Cousine-Regular.ttf");
}
@font-face {
    font-family: "Cousine Bold";
    src: url("../fonts/google-fonts/Cousine/Cousine-Bold.ttf");
}
@font-face {
    font-family: "Source Code Pro";
    src: url("../fonts/google-fonts/Source_Code_Pro/SourceCodePro-Regular.ttf");
}
@font-face {
    font-family: "Space Mono";
    src: url("../fonts/google-fonts/Space_Mono/SpaceMono-Regular.ttf");
}

/* *****************************************************************************
 *  Global rules
 *  i.e. Rules applied either everywhere or on built-in elements.
 *       No class, id and "custom element"-only rules.
 * ****************************************************************************/

/* Globally disable text selection with a few exceptions */
/*
*:not(.selectable):not(input):not(textarea) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*/

/* Change scrollbar appearance for webkit-based browsers, e.g. Chrome */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2); */
}
::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.8);
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100, 100, 100, 0.4);
}

html,
body {
    width: 100%;
    height: 100%;
}

a,
a:hover{
    text-decoration: none;
}

a.aaa {
    color: #777;
}
a.aaa:hover {
    color: #999;
}

/* *****************************************************************************
 *
 * ****************************************************************************/

.fill {
    width: 100%;
    height: 100%;
}

.cols {
    background-color:#eee;
    height: calc(100% - 52px);
}

.td-label {
    text-align: right;
    font-size: 0.9em;
    font-weight: bold;
    vertical-align: middle;
}

#toast-container > div {
    width: 500px;
    opacity: 0.95;
    margin-right: 10px;
}

.throwOutOfWindow {
    position: absolute;
    top: 20000px;
    left: 20000px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table .thead-dark th {
    border-color: #32383e;
    border-top: 0;
    background-color: #212529;
    padding: 15px 20px;
    font-size: 18px;
    color: #fff;
}
