@import '~core/styles/abstract.scss';

component-configuration {

    @extend %fcr;
    background: #fff;
    overflow: hidden;
    padding: 20px;

    > .rules {
        @extend %fis;
        width: 25vw;
        margin-right: 10px;

        .list-group-item code {
            color:#222222;
            background-color:transparent;
        }

        .list-group-item.active code {
            color:#fff;
        }
    }

    > .rhs {
        @extend %fif;
        @extend %fcc;

        > .active-rule {
            @extend %fis;
            //height: 50vh;
        }

        > .directives-container {
            @extend %fif;
            @extend %fcr;

            > component-facet {
                @extend %fis;
                margin-left: 10px;
            }

            > .directives {
                @extend %fif;
                @extend %fcc;
                margin-top:10px;

                > .pages {
                    @extend %fis;
                    @extend %fcr;
                    align-items: center;
                    margin-bottom: 5px;

                    > * {
                        //margin-left: 10px;

                        &:last-child {
                            margin-left: auto;
                        }
                    }
                }

                > .list {
                    @extend %fif;

                    table {
                        table-layout: fixed;
                    }

                    tr {
                        cursor: pointer;
                    }

                    th, td { &:first-child {
                        width: 150px;
                    }}

                    td {
                        word-break: break-all;
                    }

                    .KEEP {
                        color: green;
                    }

                    .REMOVE {
                        color: red;
                    }
                }

                li.action  {
                    border-bottom: 1px solid #ddd;
                    &:last-child {
                        border-bottom: 0;
                    }

                    > a {
                        padding: 4px;
                    }
                }
            }

        }
    }

}
