<!-- ko if: isAnalysis() === true -->
<div class="rhs">
    <div class="pages">

        <div class="page-header">
            <h4>
                <a href="#" title="Filter" data-bind="click: function() { showFilters(!showFilters()); return false;} "><span class="fa fa-filter"></span></a>
                Analysis directives <span class="label label-info" data-bind="text: count"></span>
            </h4>
        </div>

        <component-paginator params="
                atPage: atPage,
                totalPages: totalPages,
            "></component-paginator>

        <!--<button class="btn btn-danger" data-bind="click: deleteDirectives">Delete all filtered</button>-->
    </div>
    <div class="directives-container">

        <!-- ko if: showFilters() === true -->
        <!-- ko with: facets -->
        <component-facet params="facets: $data, filters: $component.filters, textFilter: $component.textFilter"></component-facet>
        <!-- /ko -->
        <!-- /ko -->

        <div class="directives">
            <!--
            <div class="text-left">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Execute action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" data-bind="foreach:actions">
                        <li class="action">
                            <a href="javascript:" data-bind="click:execute">
                                <strong class="list-group-item-heading" data-bind="text:label"></strong>
                                <p class="list-group-item-text text-muted" data-bind="text:description"></p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            -->
            <div class="list">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Directive</th>
                        <th>Package</th>
                        <th>Class</th>
                        <th>Method</th>
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: directives">
                    <tr data-bind="click: $component.openSymbol, rclick: $component.openMenu">
                        <td data-bind="text: type, css: type"></td>
                        <td data-bind="text: packageName"></td>
                        <td data-bind="text: className"></td>
                        <td>
                            <strong style="font-size: 110%" data-bind="text: methodName"></strong> (<span data-bind="text: getCommaSeparatedParamTypes()"></span>)
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->

<!-- ko if: isAnalysis() === false -->
<div class="rules">
    <h4>Bundle configuration</h4>
    <div style="font-size:0.75em;margin-bottom:2em;" class="text-muted">
        There are <strong><span data-bind="text:rules().length"></span></strong> rules
        contained in this configuration.
        <!-- ko if: rules().length === 0 -->
        Use the button to add a rule.
        <!-- /ko -->

        <!-- ko if: rules().length > 0 -->
        Use the button to add a rule or select a rule to view its details.
        <!-- /ko -->

    </div>
    <div class="list-group">
        <!-- ko foreach: rules -->
        <a href="#" class="list-group-item" data-bind="css: {
            active : $data === $parent.activeRule()
        }, click: function() { $parent.activateRule($data); return false; }">
            <span class="badge" data-bind="text:directiveCount"></span>
            <strong><code data-bind="text: source"></code></strong>
        </a>
        <!-- /ko -->
    </div>
    <div>
        <button class="btn btn-primary" data-bind="click: function() { addRuleWithModal(); return false; }">
            <span class="fa fa-plus"></span>
            Add rule
        </button>
    </div>

    <modal-for-rule params="
        visible: openRuleModal,
        addOrUpdateRule: addOrUpdateRule,
        activeRule: activeRule
    "></modal-for-rule>


</div>
<div class="rhs">
    <!-- ko if: activeRule() !== null -->
    <div class="active-rule">
        <div class="page-header">
            <div class="pull-right">
                <a href="" data-bind="click: function() { editRuleWithModal(); return false; }">Edit</a> |
                <a href="" data-bind="click: function() { deleteRuleWithModal(); return false; }">Delete</a>
            </div>
            <h4>Selected Rule</h4>
        </div>
        <div>
            <pre><code data-bind="text: activeRule().source"></code></pre>
        </div>
    </div>
    <div class="pages">

        <div class="page-header">
            <h4>
                <a href="#" title="Filter" data-bind="click: function() { showFilters(!showFilters()); return false;} "><span class="fa fa-filter"></span></a>
                Matching directives <span class="label label-info" data-bind="text: count"></span>
            </h4>
        </div>

        <component-paginator params="
                atPage: atPage,
                totalPages: totalPages,
            "></component-paginator>

        <!--<button class="btn btn-danger" data-bind="click: deleteDirectives">Delete all filtered</button>-->
    </div>
    <div class="directives-container">

        <!-- ko if: showFilters() === true -->
            <!-- ko with: facets -->
            <component-facet params="facets: $data, filters: $component.filters, textFilter: $component.textFilter"></component-facet>
            <!-- /ko -->
        <!-- /ko -->

        <div class="directives">
            <!--
            <div class="text-left">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Execute action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" data-bind="foreach:actions">
                        <li class="action">
                            <a href="javascript:" data-bind="click:execute">
                                <strong class="list-group-item-heading" data-bind="text:label"></strong>
                                <p class="list-group-item-text text-muted" data-bind="text:description"></p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            -->
            <div class="list">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Directive</th>
                        <th>Package</th>
                        <th>Class</th>
                        <th>Method</th>
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: directives">
                    <tr data-bind="click: $component.openSymbol, rclick: $component.openMenu">
                        <td data-bind="text: type, css: type"></td>
                        <td data-bind="text: packageName"></td>
                        <td data-bind="text: className"></td>
                        <td>
                            <strong style="font-size: 110%" data-bind="text: methodName"></strong> (<span data-bind="text: getCommaSeparatedParamTypes()"></span>)
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /ko -->
</div>
<!-- /ko -->