<!-- ko with: activeSelection -->
    <!-- ko if: containsQuery() -->
        <!-- ko with: programElement -->
            <button class="origin query btn btn-default fis fcr" data-bind="
                attr: { title: name },
            ">
                <span class="pe-icon fis" data-bind="
                    html: icon,
                    css: cssClass,
                "></span>
                <span class="query-name fif" data-bind="text: name"></span>
            </button>
        <!-- /ko -->
    <!-- /ko -->
    <!-- ko ifnot: containsQuery() -->
        <!-- ko with: programElement -->
            <button class="origin btn btn-default fis fcr" data-bind="
                click: $component.openProgramElement,
            ">
                <span class="pe-icon fis" data-bind="
                    html: icon,
                    css: cssClass,
                "></span>
                <span class="fif fcc">
                    <span class="fis pe-name" data-bind="text: name"></span>
                    <span class="fis pe-location">
                        <span data-bind="text: filepath"></span>
                        (<span data-bind="text: position.startLine"></span>,<span data-bind="text: position.startColumn"></span>)
                    </span>
                </span>
            </button>
            <div class="prop-headers fis fcr">
                <!-- ko foreach: props -->
                    <div class="prop-header fis" data-bind="
                        attr: { title: name },
                        css: {
                            active: $component.isPropActive($data),
                            functional: $component.isPropFunctional($data),
                        },
                        click: $component.activateProp,
                    ">
                        <div data-bind="html: viewHeader"></div>
                    </div>
                <!-- /ko -->
            </div>
        <!-- /ko -->
    <!-- /ko -->

    <!-- ko with: activeProp -->
        <div class="prop-content fif" data-bind="
            delegatedParentHandler: { click: { open: $component.openProgramElement }},
        ">
            <!-- ko if: !$parent.containsQuery() && $parent.programElement.isFunctional(prop) -->
                <div class="prop-name fcr">
                    <div class="prop-name-1 fis"></div>
                    <div class="prop-name-2 fis" data-bind="text: prop.title"></div>
                    <div class="prop-name-3 fis">(<span style="color: #888;" data-bind="text: values.raw.length"></span>)</div>
                </div>
            <!-- /ko -->
            <div>
                <!-- ko foreach: values.raw -->
                    <div class="prop-value fcr" data-click-parent="open" data-bind="
                        attr: { title: viewBody.main + (viewBody.main && viewBody.secondary ? '\n' : '') + (viewBody.secondary || '') },
                        css: {
                            noPosition: !position,
                            unknown: $data.hasOwnProperty('valueKind') && valueKind === 'UNKNOWN',
                        },
                    ">
                        <div class="main fis" data-bind="text: viewBody.main"></div>
                        <div class="secondary fif" data-bind="text: viewBody.secondary"></div>
                    </div>
                <!-- /ko -->
            </div>
        </div>
    <!-- /ko -->
<!-- /ko -->