@import '~core/styles/abstract.scss';

component-selection {

    @extend %fcc;

    margin: 0 2px;
    border: solid 1px #ddd;
    background-color: #fff;

    .origin {
        height: 58px;
        padding: 4px 0;
        outline: none !important;
        text-align: left;
        border-radius: 0;
        border-width: 1px 0;

        &.query {
            cursor: default !important;
            background-color: #fff !important;
            outline: none !important;
            border-color: #ccc !important;
            box-shadow: none !important;
            margin-bottom: 10px;
        }

        .pe-icon {
            min-width: 50px;
            height: 45px;
            margin: 1px 6px;
            font-weight: bold;
            font-size: 32px;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }

        .pe-definition {
            padding-left: 1px;
            font-size: 40%;
            font-style: italic;
        }

        .pe-name {
            font-size: 20px;
            margin-top: 2px;
            margin-bottom: 2px;
        }

        .pe-location {
            font-size: 11px;
            color: #888;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .query-name {
            font-size: 20px;
            margin-top: 11px;
            margin-bottom: 2px;
        }
    }

    .prop-headers {
        margin-left: 5px;
        padding: 7px 0;
    }

    .prop-header {
        margin-left: 5px;
        width: 36px;
        height: 36px;
        border: solid 1px #ccc;
        border-radius: 50%;
        padding: 4px 0 0 8px;
        background-color: #fff;
        color: #444;
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;

        &.functional:hover {
            background-color: #beebff;
        }
        &:not(.functional):hover {
            background-color: #eee;
        }
        &.functional.active,
        &.functional:active {
            background-color: lightskyblue;
            border-color: #999;
        }
        &:not(.functional) {
            opacity: 0.5;
            cursor: default;
        }
    }

    .prop-content {
        padding-left: 10px;
        padding-bottom: 10px;
        overflow: auto;
    }
    .prop-name {
        margin: 5px 0;
    }
    .prop-name-1 {

    }
    .prop-name-2 {
        font-weight: bold;
    }
    .prop-name-3 {
        margin-left: 8px;
        color: #666;
    }

    .prop-value {
        padding: 4px 8px 4px;
        border: 0 solid #ddd;
        border-bottom-width: 1px;
        cursor: pointer;

        &:first-child {
            border-top-width: 1px;
        }
        &:hover {
            background-color: #e7f4f7;
        }
        &.unknown {
            background-color: #dca7a7;
        }
        &.noPosition {
            background-color: #eee;
            cursor: default;
        }
        .main {
            margin-right: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
        }
        .secondary {
            color: #aaa;
            text-align: right;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

}
