<div class="opt-directive-list">
    <table style="margin-left: 20px;">
        <tbody>
            <!--tr>
                <td>Element type</td>
                <td>
                    <div class="form-group">
                        <label class="btn btn-default" disabled>
                            <input type="radio" name="typeOfElement" value="Class" disabled data-bind="checked: typeOfElement"> Class
                        </label>
                        <label class="btn btn-default" disabled>
                            <input type="radio" name="typeOfElement" value="Field" disabled data-bind="checked: typeOfElement"> Field
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="typeOfElement" value="Method" data-bind="checked: typeOfElement"> Method
                        </label>
                    </div>
                </td>
            </tr-->
            <tr>
                <td>Directive origin:&nbsp;</td>
                <td>
                    <div class="form-group">
                        <label class="btn btn-default">
                            <input type="radio" name="origin" value="USER" data-bind="checked: origin"> User
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="origin" value="ANALYSIS" data-bind="checked: origin"> Analysis
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Directive type:&nbsp;</td>
                <td>
                    <div class="form-group">
                        <label class="btn btn-default">
                            <input type="radio" name="typeOfDirective" value="KEEP" data-bind="checked: typeOfDirective"> KEEP
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="typeOfDirective" value="REMOVE" data-bind="checked: typeOfDirective"> REMOVE
                        </label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <ol>
        <!-- ko foreach: directives -->
        <li style="padding: 2px 5px;" data-bind="click: $component.open, rclick: $component.openMenu">
            <div data-bind="html: $component.getSymbolNameHtml($data)"></div>
            <div data-bind="html: $component.getDeclaringClassHtml($data)"></div>
        </li>
        <!-- /ko -->
    </ol>

    <div data-bind="if: hasMore">
        <button class="btn btn-default" data-bind="click: loadMore" style="margin-left: 20px;">more ...</button>
    </div>
</div>