
.opt-directive-list .opt-directive-keep {
    color: limegreen;
    text-decoration: underline;
}
.opt-directive-list .opt-directive-remove {
    color: #d62728;
    text-decoration: line-through;
}

.opt-directive-list li:hover {
    background-color: #beebff;
    cursor: pointer;
}
