@import '~core/styles/abstract.scss';

component-configurations {

    @extend %component;
    @extend %fill;
    @extend %fcc;

    .toolbar {
        padding: 10px;

        button,
        a {
            border-radius: 20px;
            outline: none !important;
        }
    }

    .tree {
        @extend %fif;
        padding-bottom: 10px;
        overflow: auto;
    }

    component-menu {
        position: fixed;
        min-width: 100px;

        button > .fa {
            margin-right: 5px;
            width: 20px;
            text-align: center;
        }
    }

}
