<div class="toolbar">
    <button class="btn btn-default" data-bind="click: createConfiguration">
        <span class="fa fa-plus-circle"></span> Create configuration
    </button>
</div>

<div class="tree"></div>

<component-menu data-name="menu">
    <!-- ko with: $parent.rightClickedNode().configuration -->
        <!-- ko foreach: orderedActions -->
            <!-- ko if: name === 'rename' || name === 'mergeAnalysis' -->
                <div role="separator" class="divider"></div>
            <!-- /ko -->
            <button data-bind="click: execute, css: cssDisabled()">
                <span data-bind="css: cssIcon()"></span>
                <span data-bind="text: text()"></span>
            </button>
        <!-- /ko -->
    <!-- /ko -->
</component-menu>