<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog fill" role="document">
        <div class="modal-content fill fcc">
            <div class="modal-header fis">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Upload proguard file</h4>
            </div>
            <div class="modal-body fif fcr">
                <div class="steps fis fcc">
                    <!-- ko foreach: steps -->
                        <button class="step" data-bind="
                            text: ($index.peek() + 1) + '. ' + vm.title,
                            disable: !functional() || $component.pendingNext(),
                            click: function() { $component.goTo($index.peek()); },
                            css: { selected: $data === $component.currentStep() },
                        "></button>
                    <!-- /ko -->
                </div>
                <div class="fif __ARG_VIEW_CONTAINER__"></div>
            </div>
            <div class="modal-footer fis">
                <!-- ko with: currentStep -->
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="
                        disable: $component.pendingNext(),
                    ">Cancel</button>
                    <button type="button" class="btn btn-warning" data-bind="
                        click: $component.goBack,
                        disable: $component.currentStep() === $component.steps()[0] || $component.pendingNext(),
                    ">Go back</button>
                    <button type="submit" class="btn btn-success" data-bind="
                        text: $component.pendingNext() ? vm.pendingNextButtonTitle : vm.nextButtonTitle,
                        click: $component.goNext,
                        disable: !vm.ready() || $component.pendingNext(),
                    "></button>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>