@import '~core/styles/abstract.scss';

component-wizard {

    .modal {
        padding: 30px !important;
    }

    .modal-dialog {
        margin: 0;
    }

    .modal-body {

        > .steps {
            overflow: auto;
            margin-right: 15px;

            .step {
                min-width: 250px;
                outline: none;
                border-style: solid;
                border-color: #ccc;
                border-width: 0 1px 1px;
                padding: 15px;
                text-align: left;
                background-color: inherit;

                &:first-child {
                    border-top-width: 1px;
                }

                &[disabled] {
                    opacity: .5;
                    cursor: not-allowed;
                }

                &:not([disabled]):hover {
                    @include hovered;
                }
            }
        }
    }

}
