@import '~core/styles/abstract.scss';

$lightSize: 20%;

component-resource-monitor {

    @extend %component;
    @extend %fcr;
    align-items: center;
    position: relative;
    border: solid 1px #5cb85c;
    border-radius: 4px;
    background-color: #444;
    color: #8cd88c;
    overflow: hidden;

    &:before {
        display: block;
        position: absolute;
        left: -$lightSize;
        width: $lightSize;
        height: 100%;
        content: "";
        background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(11,255,2,0.25) 50%, rgba(18,255,0,0) 100%);
        animation: loading 2.5s linear infinite;
    }

    @keyframes loading {
        from { left: -$lightSize; }
        to  { left: $lightSize + 100%; }
    }

    > * {
        @extend %fis;
        @extend %fcr;
        align-items: center;
        margin: 0 15px;

        &.state {
            margin-left: auto;
        }

        > :first-child {
            font-size: 85%;
        }

        > :last-child {
            font-family: Consolas, "Courier New", monospace;
        }
        &.cpu > :last-child {
            min-width: 6ch;
        }
        &.ram > :last-child {
            min-width: 7ch;
        }
    }

}
