<div class="cpu">
    <span>CPU:</span>&nbsp;
    <span data-bind="text: analysis.cpu"></span>
</div>
<div class="ram">
    <span>RAM:</span>&nbsp;
    <span data-bind="text: analysis.memory"></span>
</div>
<div class="state">
    <span>STATE:</span>&nbsp;
    <span data-bind="text: analysis.state"></span>
</div>