
component-vis-treemap,
.component-vis-treemap {

    display: block;
    position: relative;
    overflow: hidden;

    ul {
        list-style: none;
    }

    .node {
        cursor: pointer;
    }
    .node:hover {
        stroke: #000;
        stroke-width: 1.5px;
    }

    .label {
        font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-anchor: middle;
        text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
    }

    .label,
    .node--root {
        pointer-events: none;
    }

    .btn-group-vertical {
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .btn {
        padding: 6px 10px;
    }

}
