@import '~core/styles/abstract.scss';

component-editor {

    @extend %fcc;

    .editor {
        .ace_gutter-cell {
            color: #999;
        }
        .ace_scrollbar.ace_scrollbar-v {
            width: auto !important; /* Fixes scrollbar flickering in Chrome, when resizing the sidebar. */
        }
        .ace-tm .ace_gutter-active-line {
            background-color: #d8e8f6 !important;
        }
    }

    search-box {
        margin: 5px;
    }

    component-file-structure-tree {
        margin-left: 1px;
        background-color: #fff;
        padding: 5px;
    }

    .info {
        border-top: solid 1px #bbb;
        padding: 4px 10px 3px;
        font-family: Cousine;
        font-size: 95%;
        color: #888;

        > div:nth-child(2) {
            > span:nth-child(1) {
                min-width: 3em;
                text-align: right;
            }
            > span:nth-child(2) {
                padding: 0 2px;
            }
            > span:nth-child(3) {
                min-width: 2em;
                text-align: left;
            }
        }
    }

    .structure-toggler {
        padding: 0 10px;
        border: solid 1px #aaa;
        background-color: #e4e4e4;
        color: #777;
    }

    .menu {
        position: absolute;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: .25rem;
        background-color: #fff;
        padding: .5rem 0;
        box-shadow: 3px 3px 20px -5px rgba(0, 0, 0, 0.75);
        z-index: 999;

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        > *:nth-child(n+2) {
            border-left: solid 1px #eee;
        }

        .element {
            padding: 3px 2px;
            white-space: nowrap;

            .description {
                padding: 4px 20px 10px;
                font-weight: bold;
            }
            .prop {
                padding: 3px 20px;
                cursor: pointer;
                outline-color: #5cb85c;
            }
            .prop:hover {
                background-color: #beebff;
            }
            .prop-icon {
                border: solid 1px #ccc;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                margin-right: 10px;
                padding: 4px 0 0 8px;
            }
            .prop:hover .prop-icon {
                border-color: #bbb;
            }
            .prop-name {
                padding-top: 7px;
            }
        }

        .prop:not(.functional) {
            cursor: default;
            opacity: .5;
            outline: none;
        }
        .prop:not(.functional):hover {
            background-color: #eee;
        }
    }

    .cursor-line-marker {
        position: absolute;
        background-color: #d8e8f6;
        z-index: 2;
    }
    .selected-element-marker {
        position: absolute;
        background-color: lightgreen;
        z-index: 3;
    }
    .possible-value-marker {
        position: absolute;
        background-color: lightskyblue;
        z-index: 3;
    }
    .unreachable-method-marker {
        position: absolute;
        background-color: #eee;
        z-index: 1;
    }

    .annotation-unreachable-method {
        display: inline-block;
        padding: 5px 10px;
    }

    /* *****************************************************************************
     *  User & analysis optimization directive indicators
     * ****************************************************************************/

    /* Put "analysis optimization directive" rules before "user optimization directive" because the latter are stronger. */

    .directive-ANALYSIS-KEEP,
    .directive-user-KEEP {
        position: absolute;
        z-index: 10;
        color: green;
    }
    .directive-ANALYSIS-REMOVE,
    .directive-USER-REMOVE {
        position: absolute;
        z-index: 10;
        color: red;
    }

    .directive-ANALYSIS-KEEP:before,
    .directive-ANALYSIS-REMOVE:before {
        position: absolute;
        top: -12px;
        right: -12px;
        padding: 0 0 0 3px;
        width: 13px;
        height: 13px;
        line-height: 13px;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        border-width: 1px;
        border-style: solid;
        border-radius: 3px;
        opacity: 100%;
    }
    .directive-ANALYSIS-KEEP:before {
        border-color: green;
        background-color: #b4ffaf;
        color: green;
    }
    .directive-ANALYSIS-REMOVE:before {
        border-color: red;
        background-color: #ffdada;
        color: red;
    }
    .directive-ANALYSIS-KEEP:before,
    .directive-ANALYSIS-REMOVE:before {
        content: 'A';
    }

    .directive-USER-KEEP:after,
    .directive-USER-REMOVE:after {
        position: absolute;
        top: -12px;
        right: -12px;
        padding: 0 0 0 3px;
        width: 13px;
        height: 13px;
        line-height: 13px;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        border-width: 1px;
        border-style: solid;
        border-radius: 3px;
        opacity: 100%;
    }
    .directive-USER-KEEP:after {
        border-color: green;
        background-color: #b4ffaf;
        color: green;
    }
    .directive-USER-REMOVE:after {
        border-color: red;
        background-color: #ffdada;
        color: red;
    }
    .directive-USER-KEEP:after,
    .directive-USER-REMOVE:after {
        content: 'B';
    }

    .directive-USER-KEEP.directive-ANALYSIS-KEEP:after,
    .directive-USER-KEEP.directive-ANALYSIS-REMOVE:after,
    .directive-USER-REMOVE.directive-ANALYSIS-KEEP:after,
    .directive-USER-REMOVE.directive-ANALYSIS-REMOVE:after {
        right: -28px;
    }

}
