<div data-bind="visible: state() === 'error'">
    Something went wrong while loading the file.<br>
    Please click <button>here</button> to try reloading it.
</div>
<div data-bind="visible: state() === 'loading'">
    LOADING ...
</div>
<div class="fif fcc" data-bind="visible: state() === 'ready'">
    <div class="fif fcr">
        <div class="editor fif"></div>
        <div class="fis fcc" data-bind="
            visible: fileHasMetadata() && isFileStructureOpen(),
            resizableLeft: {
                lsKey: lsKeys.fstreeSize,
                lsValueId: 3,
                onDrag: resize,
            },
        ">
            <!--search-box class="fis" params="
                text: fstreeSearchText,
                placeholder: 'Search symbols in file ...',
            "></search-box-->
            <component-file-structure-tree class="fif" data-name="structure" params="
                bundle: bundle,
                searchText: fstreeSearchText,
            "></component-file-structure-tree>
        </div>
    </div>
    <div class="info fis fcr">
        <div class="fif ellipsis" title="Current file" data-bind="text: filename"></div>
        <div class="fis fcr" title="Cursor position <line>:<column>" data-bind="if: cursorPosition">
            <span data-bind="text: cursorPosition().line"></span>
            <span>:</span>
            <span data-bind="text: cursorPosition().column"></span>
        </div>
        <button class="structure-toggler fa fis" title="Toggle file structure tree" data-bind="
            visible: fileHasMetadata(),
            click: toggleFileStructureVisibility,
            css: {
                'fa-angle-double-left': !isFileStructureOpen(),
                'fa-angle-double-right': isFileStructureOpen(),
            },
        "></button>
    </div>
    <div class="menu fcr hide">
        <!-- ko foreach: selections -->
            <!-- ko with: programElement -->
                <ul class="fif element">
                    <li class="description" data-bind="text: kind"></li>
                        <!-- ko foreach: props -->
                            <div class="prop fcr" tabindex="-1" data-bind="
                                click: $component.selectProp,
                                css: { functional: $parent.isFunctional($data) },
                            ">
                                <div class="fis prop-icon">
                                    <span data-bind="html: viewHeader"></span>
                                </div>
                                <div class="fif prop-name" data-bind="text: name"></div>
                            </div>
                        <!-- /ko -->
                    </li>
                </ul>
            <!-- /ko -->
        <!-- /ko -->
    </div>
</div>