@import '~core/styles/abstract.scss';

component-project {

    > .container {
        > .project {
            margin-top: 10px;
        }

        > .toolbar {
            @extend %fcr;
            margin: 10px 0 13px;
            justify-content: space-between;
            align-items: center;

            > div {
                @extend %fis;
            }

            > button {
                @extend %fis;
            }
        }

        > .bundles > .bundle {
            .fa-info {
                margin-right: 15px;
            }

            .fa-trash {
                border-radius: 50%;
                padding: 8px 10px;
            }

            > :first-child > :nth-child(n+2) {
                margin-top: 5px;
            }

            > :nth-child(n+2) {
                margin-left: 15px;
            }
        }
    }

}

