<!-- ko with: project --><!-- ko with: $parent -->

    <navbar params="content: navbarContent"></navbar>

    <div class="container">
        <div class="project">
            Project: <strong data-bind="text: project().name"></strong>
        </div>

        <div class="toolbar">
            <div>
                Total bundles: <strong data-bind="text: bundles().length"></strong>
            </div>
            <button class="btn btn-success" data-bind="click: openBundleCreationModal">
                <span class="fa fa-plus-circle"></span> create bundle
            </button>
        </div>

        <div class="list-group bundles">
            <!-- ko foreach: bundles -->
                <a class="list-group-item bundle fcr" data-bind="attr: { href: $component.getBundleUrl($data) }">
                    <div class="fif" style="overflow: hidden;">
                        <div class="fcr">
                            <strong class="name fif" data-bind="text: name"></strong>
                            <span class="text-muted small fis" data-bind="
                                text: createdAt,
                                attr: { title: 'Creation date:\n' + createdAt },
                            "></span>
                        </div>
                        <div class="text-muted fcr">
                            <div class="fa fa-info fa-2x fis"></div>
                            <div class="fif" style="overflow: hidden;" data-bind="attr: { title: $component.getBundleArtfactsAsTitle($data) }">
                                <div class="ellipsis">
                                    <small data-bind="text: $component.getArtifactsToString(appArtifacts)"></small>
                                </div>
                                <div class="ellipsis">
                                    <small data-bind="text: $component.getArtifactsToString(depArtifacts)"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ko if: $root.isUserAuthenticated() -->
                        <div class="fis">
                            <button class="btn btn-danger fa fa-trash" title="Delete" data-bind="
                                click: $component.openBundleDeletionModal,
                            "></button>
                        </div>
                    <!-- /ko -->
                </a>
            <!-- /ko -->
        </div>
    </div>

    <component-bundle-creation data-name="bundleCreationModal"></component-bundle-creation>
    <modal-bundle-deletion data-name="bundleDeletionModal"></modal-bundle-deletion>

<!-- /ko --><!-- /ko -->