@import '~core/styles/abstract.scss';

component-tabs {

    @extend %component;
    @extend %fcc;

    > .nav-tabs {
        white-space: nowrap;
    }
    > .nav-tabs .nav-tabs {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }

    > .tab-content {
        @extend %fif;

        > * {
            @extend %fill;
        }
    }

}
