<ul class="nav nav-tabs fcr" role="tablist">
    <!-- ko with: pinnedConfigurationTab -->
        <li class="fis" data-bind="
            click: $component.selectTab,
            midclick: $component.closeTab,
            css: { active: $data === $component.activeTab() },
            attr: { id: domId, title: tooltip },
        ">
            <a data-toggle="tab" role="tab" style="width: 150px; display: flex !important;" class="fc-center">
                <i class="fa fa-cogs"></i>&nbsp;&nbsp;
                <span class="fif ellipsis" style="text-align: center;" data-bind="text: configuration.name"></span>
            </a>
            <button class="glyphicon glyphicon-remove close" data-bind="
                visible: closable,
                click: $component.closeTab,
            "></button>
        </li>
    <!-- /ko -->
    <li class="fif">
        <ul class="fif fcr nav nav-tabs" role="tablist">
            <!-- ko foreach: tabs -->
                <li class="fis" data-bind="
                    click: $component.selectTab,
                    midclick: $component.closeTab,
                    css: { active: $data === $component.activeTab() },
                    attr: { id: domId, title: tooltip },
                ">
                    <a data-toggle="tab" role="tab" data-bind="
                        text: name,
                    "></a>
                    <button class="glyphicon glyphicon-remove close" data-bind="
                        visible: closable,
                        click: $component.closeTab,
                    "></button>
                </li>
            <!-- /ko -->
        </ul>
    </li>
</ul>
<div class="tab-content">
    <component-overview data-name="overview" data-bind="visible: isActiveTabOverviewTab()" params="
        bundle: bundle,
    "></component-overview>

    <component-editor data-name="editor" data-bind="visible: isActiveTabFileTab()" params="
        bundle: bundle,
    "></component-editor>

    <!-- ko foreach: configurationTabs -->
        <component-configuration data-bind="visible: $component.activeTab() === $data" params="
            bundle: $component.bundle,
            configuration: configuration,
        "></component-configuration>
    <!-- /ko-->

    <!-- ko foreach: analysisTabs -->
        <component-analysis data-bind="visible: $data === $component.activeTab()" params="
            bundle: $component.bundle,
            analysis: analysis,
        "></component-analysis>
    <!-- /ko -->
</div>