<!-- ko foreach: configurations -->
    <label class="list-group-item" data-bind="css: { selected: $component.selectedConfiguration() === $data }">
        <input type="radio" name="analysis" data-bind="
            value: $data,
            checked: $component.selectedConfiguration,
        ">
        <span data-bind="text: name"></span>
    </label>
<!-- /ko -->