<!-- ko if: analysis.isMonitored() -->
    <component-resource-monitor params="analysis: analysis"></component-resource-monitor>
<!-- /ko -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" data-bind="css: {
        active: !isAnalysisFinishedOnLoad,
    }">
        <a aria-controls="analysis-info" role="tab" data-toggle="tab" data-bind="attr: {
            'data-target': '#' + $component.uniqueIDs.infoTab,
        }">
            Info
        </a>
    </li>
    <li role="presentation" data-bind="css: {
        disabled: !analysis.isFinished(),
        active: isAnalysisFinishedOnLoad,
    }">
        <a aria-controls="analysis-directives" role="tab" data-toggle="tab" data-bind="attr: {
            'data-target': '#' + $component.uniqueIDs.directivesTab,
        }">
            Directives
        </a>
    </li>
    <!-- ko ifnot: analysis.isRunning() || analysis.isFinished() -->
        <li class="message">
            <span class="fa fa-warning"></span>
            Analysis did not finish. Status:
            <span class="state" data-bind="text: analysis.state, css: analysis.state"></span>
        </li>
    <!-- /ko -->
    <!-- ko foreach: analysis.orderedActions -->
        <li data-bind="css: name + cssHidden()">
            <button class="btn btn-default" data-bind="
                click: execute,
                css: cssIcon() + cssDisabled() + cssActive(),
                attr: { title: title() }
            "></button>
        </li>
    <!-- /ko -->
</ul>
<div class="tab-content">
    <div class="tab-pane directives" role="tabpanel" data-bind="
        attr: { id: uniqueIDs.directivesTab },
        css: { active: isAnalysisFinishedOnLoad },
    ">
        <!-- ko if: analysis.isFinished() -->
            <component-directives params="
                bundle: bundle,
                source: analysis,
            "></component-directives>
        <!-- /ko -->
    </div>
    <div class="tab-pane info" role="tabpanel" data-bind="
        attr: { id: uniqueIDs.infoTab },
        css: { active: !isAnalysisFinishedOnLoad },
    ">
        <table class="table table-condensed table-striped">
            <tbody>
                <tr>
                    <td class="td-label">Creation time</td>
                    <td data-bind="text: analysis.createdDate"></td>
                </tr>
                <!-- ko foreach: analysis.options -->
                    <tr>
                        <td class="td-label" data-bind="text: label"></td>
                        <td data-bind="text: value"></td>
                    </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>
</div>