@import '~core/styles/abstract.scss';

component-analysis {

    @extend %component;
    @extend %fcc;
    padding: 7px 7px 0;
    background-color: #fff;

    > component-resource-monitor {
        @extend %fis;
        margin-bottom: 7px;
        height: 42px;
    }

    > ul {
        @extend %fis;
        @extend %fcr;

        [role="tab"] {
            min-width: 75px;
            text-align: center;
        }

        > li:nth-child(2) {
            margin-right: auto;
        }

        .message {
            margin-right: 10px;
            padding-top: 7px;

            .state {
                font-weight: bold;

                &.ERROR {
                    color: red;
                }
                &.TIMED_OUT {
                    color: orange;
                }
                &.CANCELLED {
                    color: orange;
                }
            }
        }

        .stop, .rerun, .delete, .toggleMonitoring { .btn {
            margin-left: 4px;
            width: 34px;
            height: 34px;
            outline: 0 !important;
            border-radius: 100px;
            padding: 0;
            color: #555;

            &.active {
                color: forestgreen;
            }
        }}

        > .dropdown > .dropdown-menu li:not(.disabled) a {
            cursor: pointer;
        }
    }

    > .tab-content {
        @extend %fif;

        > .tab-pane {
            @extend %fill;

            &.directives > component-directives {
                @extend %fill;
            }

            &.info {
                overflow: auto;

                table {
                    table-layout: fixed;

                    td {
                        padding: 12px 15px 10px;
                        word-wrap: break-word;

                        &.td-label {
                            width: 350px;
                            opacity: .9;
                        }
                    }
                }
            }
        }
    }

}
