<navbar params="content: navbarContent"></navbar>

<div class="container">

    <div class="searcher row">
        <div class="col-sm-3" style="padding-top: 6px; color: #888;">
            <span data-bind="attr: { title: 'Projects in total: ' + totalItemsNoSearch() }">
                <span class="badge" data-bind="text: totalItemsNoSearch()"></span> projects
            </span>
            <!-- ko if: query -->
                &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
                <span class="badge" data-bind="attr: { title: 'Filtered by search: ' + totalItems() }">
                    <span class="fa fa-filter"></span>&nbsp;&nbsp;<span data-bind="text: totalItems"></span>
                </span>
            <!-- /ko -->
        </div>
        <search-box class="col-sm-5" params="
            text:           query,
            placeholder:    'Search for projects ...',
            keypressFilter: filterKeypress,
        "></search-box>
        <div class="col-sm-3 input-group">
            <span class="input-group-addon">Sort by</span>
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span data-bind="text: sortBy().label"></span>&nbsp;
                    <span class="sortOrder" data-bind="css: sortBy().icon"></span>&nbsp;
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <!-- ko foreach: sortByOptions -->
                        <!-- ko if: allow === 'ALL' || allow === 'AUTHENTICATED' && $root.isUserAuthenticated() -->
                            <!-- ko if: type === 'option' -->
                                <li data-bind="css: { disabled: $component.sortBy() === $data }">
                                    <a data-bind="click: $component.sortOptionClicked">
                                        <div class="fch">
                                            <div class="sortBy fif" data-bind="text: label"></div>
                                            <div class="sortOrder fif">
                                                <div data-bind="css: icon"></div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            <!-- /ko -->
                            <!-- ko if: type === 'divider' -->
                                <li class="divider"></li>
                            <!-- /ko -->
                        <!-- /ko -->
                    <!-- /ko -->
                </ul>
            </div>
        </div>
    </div>

    <div class="list-group">
        <!-- ko foreach: items -->
            <a class="list-group-item project fch" data-bind="attr: { href: $component.getProjectUrl($data) }">
                <div class="text-muted fa fa-info fa-3x fis"></div>
                <strong class="name fif" data-bind="text: name"></strong>
                <span class="text-muted small fis" data-bind="
                    text: createdAt,
                    attr: { title: 'Creation date:\n' + createdAt },
                "></span>
                <!-- ko if: $root.isUserAuthenticated() -->
                    <!--button class="btn btn-danger fa fa-trash fis" title="Delete" data-bind="
                        click: $component.openProjectDeletionModal,
                    "></button-->
                <!-- /ko -->
            </a>
        <!-- /ko -->
    </div>

    <div class="paginator fcv" data-bind="visible: requiresPagination()"></div>

</div>

<!-- ko if: $root.isUserAuthenticated() -->
    <component-project-creation data-name="projectCreationModal"></component-project-creation>
    <component-project-deletion data-name="projectDeletionModal"></component-project-deletion>
<!-- /ko -->