<!-- ko if: $root.isUserAuthenticated() -->
    <li class="navbar-nav">
        <a href="#" class="btn btn-default" data-bind="click: openProjectCreationModal">
            <span class="fa fa-plus-circle"></span> create project
        </a>
    </li>
<!-- /ko -->