
component-projects {

    navbar {
        li {
            list-style: none;
            padding: 8px 4px;

            > a {
                padding: 6px 22px 6px 16px;
                cursor: pointer;
            }
        }
    }

    .searcher {

        margin-top: 15px;
        margin-bottom: 30px;

        > * {
            margin-top: 15px;
        }

        .disabled a {
            cursor: default !important;
        }

        .fa-angle-right {
            color: #ccc;
        }

        .sortBy {
            margin-right: 15px;
        }

        .sortOrder {
            text-align: right;
            opacity: 0.7;
        }

        .dropdown-menu li a {
            cursor: pointer;
        }
    }

    .project {

        > * {
            margin-left: 20px;

            &:first-child {
                margin-left: 0;
            }

            &.fa-trash {
                outline: none;
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
    }

}

