@import '~core/styles/abstract.scss';

component-bundle-deletion {

    .modal {
        padding: 50px !important;
        overflow: hidden !important;

        .modal-dialog {
            margin: 0 auto !important;

            .modal-content {
                @extend %fill;
                overflow: hidden !important;

                form {
                    @extend %fill;

                    .modal-header {
                        padding: 12px 15px;

                        h4 {
                            margin: 5px 0;
                        }
                    }

                    .modal-body {
                        background-color: #fff;
                        overflow-x: auto;
                        overflow-y: auto;
                    }

                    .modal-footer {
                        padding: 10px;
                    }
                }
            }
        }
    }

}
