
component-analyses {

    .analysis-node {
        color: #aaa;
    }

    .jstree-text {
        display: inline-flex;
        align-items: center;

        .state {
            margin-left: 10px;
            font-size: 80%;

            &.FINISHED {
                color: #aaa;
            }
            &.ERROR {
                color: red;
            }
            &.READY, &.TIMED_OUT, &.CANCELLED {
                color: orange;
            }
            &.RUNNING, &.COMPLETED, &.POST_PROCESSING {
                color: #5bc0de;
                font-weight: bold;
            }
        }
    }

}
