@import '~core/styles/abstract.scss';

component-proguard-manager {

    @extend %component;
    @extend %fcr;
    background: #fff;
    padding: 10px;

    > .rules {
        @extend %fif;
        @extend %fcc;

        > ul {
            margin-bottom: 0;
            overflow: auto;

            > .rule {
                padding: 10px;
                cursor: pointer;

                &.active-rule {
                    background-color: #8cd88c;
                }

                &:hover {
                    background-color: #2aabd2;
                }

                &:active pre {
                    background-color: white;
                }

                pre {
                    margin: 0 0 10px;

                    code {
                        white-space: pre;

                    }

                }
            }
        }
    }

    > .matches {
        @extend %fif;
    }

}
