<div class="rules">
    <h3>Rules</h3>
    <ul class="list-group">
        <!-- ko foreach: rules -->
            <li class="rule list-group-item" data-bind="
                click: $component.activeRule,
                css: { 'active-rule': $component.activeRule() === $data },
            ">
                <pre><code data-bind="text: rule"></code></pre>
                <div>Matches: <span data-bind="numberFormatted: matchedMethods"></span></div>
            </li>
        <!-- /ko -->
    </ul>
</div>
<!-- ko if: activeRule -->
    <div class="matches">
        <h3>Matches</h3>
        <ul class="list-group">
            <!-- ko foreach: matches -->
                <li class="match list-group-item">
                    <span data-bind="text: method.doopId"></span>
                </li>
            <!-- /ko -->
        </ul>
    </div>
<!-- /ko -->