<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form enctype="multipart/form-data" data-bind="submit: submit">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4>Create new analysis</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <!-- ko foreach: options -->
                            <table class="table table-striped table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th colspan="2" data-bind="text: $component.getDescription($data)"></th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: options">
                                    <!-- ko component: 'component-form-option' --><!-- /ko -->
                                </tbody>
                            </table>
                        <!-- /ko -->
                        <input type="hidden" name="set" data-bind="value: configuration().name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>