
component-configurations {

    .configuration-node {
        color: #aaa;
    }

    .activated .configuration-node {
        color: #2ca02c;
    }

    .jstree-text {
        display: inline-flex;
        align-items: center;

        .modified {
            margin-left: 10px;
            font-size: 80%;
            color: #aaa;
        }
    }

}
