<div class="optimization-directive-list fill fcv">
    <div class="filter fis">
        <label>Filter directives:</label>
        <select data-bind="
            options: options,
            optionsText: 'text',
            value: selectedOption,
            disable: pending,
        "></select>
        <span class="text-muted">(<span data-bind="text: directives().length"></span>)</span>
    </div>
    <div class="results fif">
        <ul data-bind="foreach: directives">
            <li data-bind="
                click: $component.openSymbol,
                rclick: $component.openMenu,
                attr: { title: doopId, id: 'odl:'+doopId },
            ">
                <span class="directive" data-bind="css: {
                    keep: $component.is_a_keep(doopId),
                    remove: $component.is_a_remove(doopId),
                }">A</span>
                <span class="directive u-d" data-bind="css: {
                    keep: $component.is_u_keep(doopId),
                    remove: $component.is_u_remove(doopId),
                }">U</span>
                <span data-bind="html: __viewable"></span>
            </li>
        </ul>
    </div>
</div>