
.optimization-directive-list {

    > .filter {
        padding-left: 20px;
    }

    > .results {
        overflow: auto;

        ul {
            list-style-type: none;
            padding-left: 0;

            > li {
                white-space: nowrap;
                padding: 4px;
                cursor: pointer;

                &:hover {
                    background-color: #e7f4f7;
                }

                > .directive {
                    line-height: 12px;
                    padding: 0 2px;
                    font-size: 10px;
                    font-weight: normal;
                    font-style: normal;
                    border-width: 1px;
                    border-style: solid;
                    border-radius: 2px;
                    visibility: hidden;

                    &.keep {
                        visibility: visible;
                        border-color: green;
                        background-color: #b4ffaf;
                        color: green;
                    }
                    &.remove {
                        visibility: visible;
                        border-color: red;
                        background-color: #ffdada;
                        color: red;
                    }
                }
            }
        }
    }

}
