
component-symbol-search {

    display: block;
    position: relative;

    search-box {
        width: 30rem;
    }

    .open-filters {
        color: #aaa;
    }

    .filters {
        z-index: 1001;

        .dropdown-header {
            padding: 5px 15px 0;
            font-size: 13px;
        }

        a {
            padding: 0;

            label {
                margin-bottom: 1px;
                padding: 5px 15px;
                font-weight: normal;
                cursor: pointer;
            }
        }
    }

    .results {
        display: block;
        right: auto !important;
        width: 337px;
        max-height: 500px;
        overflow: auto;
    }

}
