<div class="input-group">
    <search-box params="
        text: searchText,
        placeholder: 'Search for symbols',
    "></search-box>
    <div class="input-group-btn">
        <button type="button" class="open-filters btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="fa fa-cog"></span>
        </button>
        <ul class="filters dropdown-menu dropdown-menu-right">
            <li class="dropdown-header">Filter results</li>
            <li role="separator" class="divider"></li>
            <li><a href="#">
                <label class="type fcr" data-bind="css: { active: searchFor.Class }, click: stopBubbling">
                    <span class="fif">Types</span>
                    <span class="fis">
                        <input type="checkbox" data-bind="checked: searchFor.Class">
                    </span>
                </label>
            </a></li>
            <li><a href="#">
                <label class="field fcr" data-bind="css: { active: searchFor.Field }, click: stopBubbling">
                    <span class="fif">Fields</span>
                    <span class="fis">
                        <input type="checkbox" data-bind="checked: searchFor.Field">
                    </span>
                </label>
            </a></li>
            <li><a href="#">
                <label class="method fcr" data-bind="css: { active: searchFor.Method }, click: stopBubbling">
                    <span class="fif">Methods</span>
                    <span class="fis">
                        <input type="checkbox" data-bind="checked: searchFor.Method">
                    </span>
                </label>
            </a></li>
        </ul>
    </div>
</div>

<ul class="results dropdown-menu hide">
    <!-- ko foreach: results -->
    <li><a href="#" data-bind="text: $data, click: $component.openSymbol"></a></li>
    <!-- /ko -->
</ul>