<ul class="dropdown-menu">
    <!-- ko with: method --><!-- ko with: $component -->
        <li data-bind="click: keepMethod, css: { disabled: !canKeepMethod() }">
            <a href="#">Keep method</a>
        </li>
        <li data-bind="click: removeMethod, css: { disabled: !canRemoveMethod() }">
            <a href="#">Remove method</a>
        </li>
        <li role="separator" class="divider"></li>
        <li data-bind="click: deleteDirective, css: { disabled: !hasDirective() }">
            <a href="#">Delete directive</a>
        </li>
    <!-- /ko --><!-- /ko -->
</ul>