@import '~core/styles/abstract.scss';

component-form-option,
.component-form-option {

    label {
        min-height: 100%;
        @extend %fill;
        @extend %fcc;
        font-weight: normal;
        justify-content: center;
        align-items: center;
    }

    input:nth-child(n+2),
    select:nth-child(n+2) {
        margin-top: 5px;
    }

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
    }

    input[type="file"] {
        height: auto;
    }

}
