<tr class="component-form-option">
    <td>
        <h4 data-bind="text: option.name"></h4>
        <p class="text-muted" data-bind="text: option.description"></p>
    </td>
    <td data-bind="stemplate: view"></td>
</tr>