@import '~core/styles/abstract.scss';

component-rules {

    @extend %component;
    @extend %fcc;

    > div > .head {
        align-items: center;
        padding: 5px 0;

        > * {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }

        > .toggleFilter {
            color: #555;

            &.open {
                @include enabled;
            }
            &.activated {
                color: #428bca;
            }
        }

        > .addRule {
            border-radius: 20px;
            outline: none !important;
        }
    }

    > div > .body {
        border-top: solid 1px #ddd;

        > .filters {
            min-width: 120px;

            &.ko-resizable-width {
                width: 33%;
                max-width: 90%;
            }

            > .filters-head {
                justify-content: space-between;
                align-items: center;
                padding: 7px 10px 7px 0;
            }

            > component-facet {
                padding: 10px 10px 10px 0;
            }
        }

        > .rules {

            > .head {
                padding: 5px 0 5px 5px;
                flex-wrap: wrap-reverse;

                component-pagination {
                    margin: 0 auto;
                }

                component-dropdown {
                    margin-left: auto;
                    flex-basis: 170px;
                    text-align: right;
                }
            }

            > .body {
                overflow: auto;

                li.list-group-item {
                    word-break: break-all;
                    padding: 15px;

                    &:hover {
                        @include hovered;
                    }
                }
            }
        }
    }

    > component-rule {
        margin: 5px 0 0;
        height: 65%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

}
