<div class="fif fcc" data-bind="visible: rules().length > 0">
    <div class="head fis fcr">
        <button title="Toggle filters" class="toggleFilter btn btn-sm btn-default fa fa-filter open" data-bind="
            click: toggleFilters,
            css: { activated: hasAppliedFilters },
        "></button>
        <span>
            Results: <span class="label label-default" data-bind="numberFormatted: count"></span>
        </span>
        <button class="addRule btn btn-primary ml-auto" data-bind="
            click: addRule,
            disable: !configuration.canModifyRuleSet(),
        ">
            <span class="fa fa-plus-circle"></span> Add rule
        </button>
    </div>
    <div class="body fif fcr">
        <div class="filters fis fcc" data-bind="resizableRight">
            <div class="filters-head fis fcr">
                <span>Filters</span>
                <button class="btn btn-sm btn-default" data-bind="
                    click: clearFilters,
                    disable: !hasAppliedFilters(),
                ">clear all</button>
            </div>
            <component-facet class="fif" data-name="facet"></component-facet>
        </div>
        <div class="rules fif fcc">
            <div class="head fis fcr">
                <component-pagination data-name="pagination" data-bind="visible: originType !== 'USER'"></component-pagination>
                <component-dropdown class="pull-right" data-name="dropdown" params="options: sortByOptions"></component-dropdown>
            </div>
            <div class="body fif">
                <ul class="list-group">
                    <!-- ko foreach: rules -->
                        <li class="list-group-item fcr fc-center" data-bind="click: $component.openRule">
                            <span class="fif" data-bind="text: ruleBody.peek().split('\n')[0]"></span>
                            <span class="badge fis" title="Number of matching methods" data-bind="
                                text: matchingMethods.peek(),
                            "></span>
                        </li>
                    <!-- /ko -->
                </ul>
            </div>
        </div>
    </div>
</div>

<component-rule-creation
    class="fis"
    data-name="ruleCreator"
    data-bind="
        visible: rulesFetched() && rules().length === 0,
        style: rules().length === 0 ? panelFullSize : panelSmallSize,
    "
    params="
        bundle: bundle,
        configuration: configuration,
        closable: rules().length > 0,
    "
></component-rule-creation>

<component-rule class="fis" data-name="activeRule" style="display: none;" params="
    bundle: bundle,
    configuration: configuration,
    editable: editable,
"></component-rule>
