
builtin-form-features {

    form:invalid {

    }

    input:valid {
        /*outline: solid 2px #2ca02c;*/
    }

    select:invalid,
    input:invalid {
        /*outline: solid 5px lightcoral;*/
        box-shadow: 0px 0px 10px 0px rgba(230,104,104,1);
    }

}
