<form style="display: flex; flex-direction: column;">
    <div style="flex-grow: 1; overflow: auto;">
        <div>
            <label>
                Text:
                <input type="search" placeholder="write something ..." pattern="[a-z\s]*" autofocus required
                       data-bind="validationMessage" data-message="opa re file">
            </label>
        </div>

        <div>
            <label>
                Click this button
                <input type="button" value="the button">
            </label>
        </div>

        <div>
            <div>
                <label>
                    <input type="checkbox" name="potatoes">
                    Potatoes
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" name="tomatoes">
                    Tomatoes
                </label>
            </div>

            <div>
                <label>
                    One
                    <input type="radio" name="radio" value="one" required>
                </label>
            </div>
        </div>

        <div>
            <label>
                Choose color:
                <input type="color" value="#ffffff">
            </label>
        </div>

        <div>
            <label>
                Choose date:
                <input type="date">
            </label>
        </div>

        <div>
            <label>
                Two
                <input type="radio" name="radio" value="two" required>
            </label>
        </div>

        <div>
            <label>
                Reset
                <input type="reset">
            </label>
        </div>

        <div>
            <label>
                <select required>
                    <option selected value>-- select an option --</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </label>
        </div>
    </div>
    <div style="flex-grow: 0; flex-shrink: 0;">
        <label>
            <input type="image" alt="submit" src="https://t3.ftcdn.net/jpg/00/87/08/52/240_F_87085243_gGRu9g4JGcTwmLIJpSi6XZu4yf5WdyqA.jpg">
        </label>
    </div>
</form>