<div class="container-fluid" style="text-align: center;">
    <h1 style="padding: 20px 0; margin: 200px 0 100px; background-color: #2a6496; color: #fff;">
        NOT FOUND
    </h1>
    <button class="btn btn-primary" data-bind="click: goHome">Go to home page</button>
</div>