<!-- ko if: $root.isUserAuthenticated() -->
<li class="navbar-nav" role="group" aria-label="..." style="margin-right: 10px; padding: 8px 4px; list-style: none;">
    <a href="#/project-creation" class="btn btn-default" style="padding: 6px 22px 6px 16px; cursor: pointer;">
        <span class="fa fa-plus-circle"></span>
        Create Bundle
    </a>
</li>
<!-- /ko -->