
component-project {

    .searcher {

        margin-top: 15px;
        margin-bottom: 30px;

        > * {
            margin-top: 15px;
        }

        .disabled a {
            cursor: default !important;
        }

        .fa-angle-right {
            color: #ccc;
        }

        .sortBy {
            margin-right: 15px;
        }

        .sortOrder {
            text-align: right;
            opacity: 0.7;
        }

        .dropdown-menu li a {
            cursor: pointer;
        }
    }

    .project {

        .single-line {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .fa-trash {
            outline: none;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }

}

