@import '~core/styles/abstract';

component-facet {

    @extend %component;
    overflow: auto;

    .category-head {
        @extend %fcr;
        align-items: center;
        margin-bottom: 5px;

        .name {
            font-weight: bold;
        }

        ul {
            @extend %fcr;
            align-items: center;
            list-style: none;
            margin-bottom: 0;

            li {
                height: 13px;
                margin-left: 5px;
                padding-left: 5px;
                border-left: solid 1px #444;
            }

            button {
                position: relative;
                top: -4px;
            }
        }
    }

    .category-body {

        .option {
            @extend %fcr;
            align-items: center;
            padding: 0 5px;
            white-space: nowrap;
            font-weight: normal;
            cursor: pointer;

            &:hover {
                color: #2a6496;
            }

            > * {
                /* Also overrides bootstrap's margin-top on input[type="text"] */
                margin: 0 5px 0 0;
            }

            &.enabled .name {

            }

            .count {
                font-size: 90%;
                color: #888;
            }
        }

        .more {
            position: relative;
            top: -5px;
            margin-left: 22px;
            font-family: monospace;
            font-size: 11px;
        }
    }

    button {
        background: transparent;
        border: none;
        outline: none;
        color: #337ab7;
        font-size: 90%;

        &:hover,
        &:focus {
            color: #23527c;
        }
    }

}
