<!-- ko foreach: categories -->
    <div class="category-head">
        <span class="name" data-bind="text: label"></span>
        <ul>
            <li data-bind="css: { hide: !hasManyDisabledOptions() }">
                <button class="toggle" data-bind="
                    click: toggleExpansion,
                    text: toggleExpansionText,
                    attr: { title: toggleExpansionTitle }
                "></button>
            </li>
            <li data-bind="css: { hide: !hasEnabledOptions() }">
                <button class="clear" data-bind="
                    click: $component.clearCategory,
                ">clear</button>
            </li>
        </ul>
    </div>
    <div class="category-body">
        <ul>
            <!-- ko foreach: enabledOptions -->
                <li>
                    <label class="option enabled">
                        <input type="checkbox" checked data-bind="click: $component.toggleCategoryOption">
                        <span class="name" data-bind="text: name"></span>
                        <span class="count">(<span data-bind="numberFormatted: count"></span>)</span>
                    </label>
                </li>
            <!-- /ko -->
            <!-- ko foreach: visibleDisabledOptions -->
                <li>
                    <label class="option">
                        <input type="checkbox" data-bind="click: $component.toggleCategoryOption">
                        <span class="name" data-bind="text: name"></span>
                        <span class="count">(<span data-bind="numberFormatted: count"></span>)</span>
                    </label>
                </li>
            <!-- /ko -->
            <!-- ko if: hiddenDisabledOptionsLength -->
                <li>
                    <button class="more" data-bind="
                        click: toggleExpansion,
                        attr: { title: hiddenDisabledOptionsLength() + ' more options' },
                    ">......</button>
                </li>
            <!-- /ko -->
        </ul>
    </div>
<!-- /ko -->