@import '~core/styles/abstract';

component-facet {
    @extend %component;
    @extend %fcc;

    > .header {
        @extend %fis;
        @extend %fcr;

        > .name {
            font-weight: bold;
        }

        > a {
            margin-left: 10px;
            cursor: pointer;
        }
    }

    > .body {
        margin-top: 5px;

        ul > li > label {
            margin-left: 10px;
            font-weight: normal;
            cursor: pointer;
            user-select: none;

            > .count {
                color: #888;
            }

            &:hover {
                color: #2a6496;
            }
        }
    }
}
