<div class="header">
    <span class="name" data-bind="text: category"></span>
    <a data-bind="click: clearFilters, css: { hide: !hasChecked }">clear</a>
</div>
<div class="body">
    <ul>
        <!-- ko foreach: values -->
            <li>
                <label>
                    <input type="checkbox" data-bind="click: $component.toggle, checked: checked">
                    <span class="name" data-bind="text: name"></span>
                    <span class="count">(<span data-bind="text: count"></span>)</span>
                </label>
            </li>
        <!-- /ko -->
    </ul>
</div>