@import '~core/styles/abstract.scss';

component-configuration {

    @extend %component;
    @extend %fcc;
    padding: 7px 7px 0;
    background-color: #fff;

    > .analysis {
        padding: 0 0 5px;

        component-resource-monitor {
            margin: 5px 0;
            height: 46px;
            border-radius: 23px;

            .state {
                padding-right: 40px;
            }
        }

        .analysis-action {
            margin-left: 4px;
            width: 34px;
            height: 34px;
            outline: 0 !important;
            border-radius: 100px;
            padding: 0;
            color: #555;
            cursor: pointer;
        }
    }

    > ul {
        @extend %fcr;

        [role="tab"] {
            min-width: 75px;
            text-align: center;
        }

        > li:nth-child(3) {
            margin-right: auto;
        }

        .action > .btn {
            margin-right: 4px;
            width: 34px;
            height: 34px;
            outline: 0 !important;
            border-radius: 100px;
            padding: 0;
            color: #555;
            transition: box-shadow .15s ease-in-out;

            &.active {
                color: forestgreen;
            }

            &.highlight {
                box-shadow: 0 0 4px 1px #bcd8e1;
            }
        }

        > .dropdown > .dropdown-menu {
            margin-top: -5px;
        }
        > .dropdown a {
            padding: 6px 15px;

            .fa {
                margin-right: 6px;
                width: 20px;
                text-align: center;
            }
        }
    }

    > .tab-content > .tab-pane > .alert {
        margin: 8px 0 0;
    }

}
