<!-- ko with: configuration.analysis -->
    <!-- ko if: isMonitored() -->
        <div class="analysis fcr fc-center" style="position: relative;">
            <component-resource-monitor class="fif" params="analysis: $data"></component-resource-monitor>
            <!-- ko with: $parent.configuration.actions.stopAnalysis -->
                <button class="analysis-action btn btn-default fis" data-bind="
                    click: execute,
                    css: name + cssIcon() + cssDisabled() + cssActive(),
                    attr: { title: title() },
                " style="position: absolute; right: 7px;"></button>
            <!-- /ko -->
        </div>
    <!-- /ko -->
<!-- /ko -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation">
        <a class="userDefinedRulesTab" role="tab" data-toggle="tab"
           data-bind="attr: { 'data-target': '#' + uniqueIDs.rulesTab }">
            User defined rules
        </a>
    </li>
    <li role="presentation">
        <a class="deadCodeTab" role="tab" data-toggle="tab"
           data-bind="attr: { 'data-target': '#' + uniqueIDs.deadCodeTab }">
            Dead code analysis
        </a>
    </li>
    <li role="presentation">
        <a class="directivesTab" role="tab" data-toggle="tab"
           data-bind="attr: { 'data-target': '#' + uniqueIDs.effectivesTab }">
            Effective directives
        </a>
    </li>
    <!-- ko with: configuration.actions.runAnalysis -->
        <li data-bind="css: 'action ' + name, attr: { title: title() }">
            <button class="btn btn-default" href="#" data-bind="
                click: execute,
                css: cssIcon() + $component.highlightAnalyzeButton(),
                disable: disabled(),
            "></button>
        </li>
    <!-- /ko -->
    <!-- ko foreach: configuration.orderedActions.slice(1) -->
        <li data-bind="css: 'action ' + name, attr: { title: title() }">
            <button class="btn btn-default" href="#" data-bind="
                click: execute,
                css: cssIcon(),
                disable: disabled(),
            "></button>
        </li>
    <!-- /ko -->
</ul>
<div class="tab-content">
    <div class="tab-pane rules " role="tabpanel" data-bind="attr: { id: uniqueIDs.rulesTab }">
        <component-rules class="fill" params="
            bundle: bundle,
            configuration: configuration,
            originType: 'USER',
        "></component-rules>
    </div>
    <div class="tab-pane dead-code fcc" role="tabpanel" data-bind="attr: { id: uniqueIDs.deadCodeTab }">
        <!-- ko with: messages -->
            <div class="alert alert-info" data-bind="
                visible: messageVisible,
                text: deadCodeMessage,
            "></div>
        <!-- /ko -->
        <!-- ko with: configuration.analysis -->
            <!-- ko if: isFinished() -->
                <component-directives class="fif" params="
                    bundle: $component.bundle,
                    source: $data,
                "></component-directives>
            <!-- /ko -->
        <!-- /ko -->
    </div>
    <div class="tab-pane directives fcc" role="tabpanel" data-bind="attr: { id: uniqueIDs.effectivesTab }">
        <!-- ko with: messages -->
            <div class="alert alert-info" data-bind="
                visible: messageVisible,
                text: effectiveDirectivesMessage,
            "></div>
        <!-- /ko -->
        <!-- ko with: configuration.analysis -->
            <!-- ko if: isFinished() -->
                <component-directives class="fif" params="
                    bundle: $component.bundle,
                    source: $component.configuration,
                "></component-directives>
            <!-- /ko -->
        <!-- /ko -->
    </div>
</div>