<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>Analyses</h4>
            </div>
            <div class="modal-body fch">
                <div class="analyses fis list-group">
                    <!-- ko foreach: analyses().slice(1) -->
                        <div class="list-group-item" data-bind="
                            click: $component.selectedAnalysis,
                            css: {
                                activated: $data === $component.activeAnalysis(),
                                selected: $data === $component.selectedAnalysis(),
                            },
                        ">
                            <div data-bind="text: name" style="font-weight: bold;"></div>
                            <div class="time" data-bind="
                                text: getCreatedAt(),
                                attr: { title: createdAt },
                            "></div>
                            <div>
                                <span class="fa" data-bind="css: cssForState('faIcon') + ' ' + cssForState('bsText')"></span>
                                <span data-bind="text: state, css: cssForState('bsText')"></span>
                            </div>
                            <div class="arrow"></div>
                        </div>
                    <!-- /ko -->
                </div>
                <div class="fif fcv">
                    <!-- ko with: selectedAnalysis -->
                        <component-resource-monitor params="analysis: $data"></component-resource-monitor>
                        <div class="options fif">
                            <table class="table table-condensed table-striped">
                                <tbody>
                                    <tr>
                                        <td class="td-label">Creation time</td>
                                        <td data-bind="text: createdAt"></td>
                                    </tr>
                                    <!-- ko foreach: options -->
                                    <tr>
                                        <td class="td-label" data-bind="text: label"></td>
                                        <td data-bind="text: value"></td>
                                    </tr>
                                    <!-- /ko -->
                                </tbody>
                            </table>
                        </div>
                    <!-- /ko -->
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-success" data-dismiss="modal" data-bind="
                    click: activate,
                    css: { disabled: cannotBeActivated(selectedAnalysis()) },
                ">
                    Activate selected analysis
                </button>
            </div>
        </div>
    </div>
</div>