@import '~core/styles/abstract.scss';

component-analysis-list {

    .modal {
        padding: 50px !important;
        overflow: hidden !important;

        .modal-dialog {
            @extend %fill;
            margin: 0 !important;

            .modal-content {
                @extend %fill;
                @extend %fcc;
                overflow: hidden !important;

                .modal-header {
                    @extend %fis;
                    padding: 12px 15px;

                    h4 {
                        margin: 5px 0;
                    }
                }

                .modal-body {
                    @extend %fif;
                    background-color: #f4f4f4;
                    padding: 0;

                    .analyses {
                        margin-bottom: 0;
                        overflow-x: auto;
                        overflow-y: scroll;

                        .list-group-item {
                            position: relative;
                            border-radius: 0;
                            cursor: pointer;
                            min-width: 230px;
                            padding-left: 20px;
                            padding-right: 70px;

                            .arrow {
                                display: none;
                                position: absolute;
                                top: 12px;
                                right: 10px;
                                width: 0;
                                height: 0;
                                border-top: 25px solid transparent;
                                border-bottom: 25px solid transparent;
                                border-left: 25px solid #555;
                            }

                            &.activated {
                                border-color: #4cae4c;
                                background-color: #5cb85c;
                                color: #fff;
                            }

                            &.selected {
                                cursor: default;

                                .arrow {
                                    display: block;
                                }
                            }

                            &:not(.activated):not(.selected):hover {
                                background-color: #f5f5f5;
                            }
                        }

                        .time {
                            font-size: 85%;
                            opacity: .8;
                        }
                    }

                    .options {
                        overflow: auto;

                        table {
                            table-layout: fixed;

                            td {
                                padding: 12px 15px 10px;
                                word-wrap: break-word;

                                &.td-label {
                                    width: 350px;
                                    opacity: .9;
                                }
                            }
                        }
                    }

                }

                .modal-footer {
                    @extend %fis;
                    padding: 10px;
                }
            }
        }
    }

}
