
%fill {
    width: 100%;
    height: 100%;
}

%component {
    display: block;
}

/* flexbox container with horizontal contents alignment. */
%fcr {
    display: flex;
    flex-direction: row;
}

/* flexbox container with vertical contents alignment. */
%fcc {
    display: flex;
    flex-direction: column;
}

%fc-center {
    align-items: center;
}

/* flexbox item of static size. */
%fis {
    flex-grow: 0;
    flex-shrink: 0;
}

/* flexbox item of dynamic size that fills the available empty space. */
%fif {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    min-height: 0;
}

@mixin hovered {
    background: #e7f4f9;
    cursor: pointer;
}

@mixin selected {
    background: #beebff !important;
    background: -webkit-linear-gradient(top, #beebff 0, #a8e4ff 100%) !important;
    background: linear-gradient(to bottom, #beebff 0, #a8e4ff 100%) !important;
    cursor: default !important;
}

@mixin enabled {
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    background: #e6e6e6;
}
