@import 'abstract';

.fill { @extend %fill; }

.fcr { @extend %fcr; }
.fcc { @extend %fcc; }
.fc-center { @extend %fc-center; }

.fis { @extend %fis; }
.fif { @extend %fif; }

.selected { @include selected; }

.ml-auto {
    margin-left: auto;
}
.mr-auto {
    margin-right: auto;
}
