<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form data-bind="submit: submit">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4>
                        <span class="fa fa-trash"></span> Delete user
                    </h4>
                </div>
                <div class="modal-body">
                    <strong data-bind="text: user"></strong>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" data-loading-text="Wait...">
                        Delete
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>