<div class="fill fcr">
    <div class="fis" style="width: 50%; overflow: auto;">
        <pre><code data-bind="text: text"></code></pre>
    </div>
    <div class="fis" style="width: 50%; overflow: auto;" data-bind="foreach: rules">
        <label class="fcr" style="padding: 10px; cursor: pointer !important;" data-bind="css: { selected: selected }">
            <input type="checkbox" data-bind="checked: selected"
                   class="fis" style="margin: 0 10px 0 0; width: 25px; height: 25px;">
            <pre class="fif"><code data-bind="text: rule.rule"></code></pre>
        </label>
    </div>
</div>