<navbar params="content: navbarContent"></navbar>

<div class="container">
    <div class="toolbar">
        <div>
            Total projects: <strong data-bind="text: projects().length"></strong>
        </div>
        <!-- ko if: $root.isUserAuthenticated() -->
            <button class="btn btn-success" data-bind="click: openProjectCreationModal">
                <span class="fa fa-plus-circle"></span> create project
            </button>
        <!-- /ko -->
    </div>

    <div class="list-group projects">
        <!-- ko foreach: projects -->
            <a class="list-group-item project" data-bind="attr: { href: $component.getProjectUrl($data) }">
                <div class="fcr">
                    <strong class="name fif" data-bind="text: name"></strong>
                    <span class="text-muted small fis" data-bind="
                        text: createdAt,
                        attr: { title: 'Creation date:\n' + createdAt },
                    "></span>
                </div>
                <div class="text-muted">
                    <span class="fa fa-info"></span>&nbsp;
                    owner: <span data-bind="text: owner"></span>
                </div>
            </a>
        <!-- /ko -->
    </div>
</div>

<component-project-creation data-name="projectCreationModal"></component-project-creation>
<component-project-deletion data-name="projectDeletionModal"></component-project-deletion>