@import '~core/styles/abstract.scss';

component-projects {

    > .container {

        > .toolbar {
            @extend %fcr;
            margin: 10px 0 13px;
            justify-content: space-between;
            align-items: center;

            > div {
                @extend %fis;
            }

            > button {
                @extend %fis;
            }
        }

        > .projects > .project > :nth-child(n+2){
            margin-top: 5px;
        }
    }

}

