@import '~core/styles/abstract.scss';

component-dropdown {

    @extend %component;

    li.selected a {
        @include selected;
        cursor: default !important;
    }

    a {
        display: flex !important;
        justify-content: space-between;

        > span:last-child {
            margin-left: 10px;
        }
    }

    .order {
        font-weight: bold;

        span {
            font-size: 75%;
        }
    }

}
