<button class="btn btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span data-bind="html: selectedView"></span>
    <span class="caret"></span>
</button>
<ul class="dropdown-menu">
    <!-- ko foreach: options -->
        <!-- ko if: $data -->
            <li data-bind="
                css: { selected: $component.selected() === $data },
                click: $component.selected,
            ">
                <a href="#">
                    <span data-bind="text: text"></span>
                    <span data-bind="html: $component.getOrderView($data)"></span>
                </a>
            </li>
        <!-- /ko -->
        <!-- ko ifnot: $data -->
            <li role="separator" class="divider"></li>
        <!-- /ko -->
    <!-- /ko -->
</ul>