<button type="button" class="btn btn-sm btn-default" data-bind="
    attr: { disabled: page() <= 1 },
    click: gotoFirst,
">
    First
</button>
<button type="button" class="btn btn-sm btn-default" data-bind="
    attr: { disabled: page() <= 1 },
    click: gotoPrevious,
">
    Prev
</button>

<div class="page-selector">
    <button class="page-description btn btn-sm btn-default" data-bind="
        attr: { disabled: page() < 1 },
        click: pageSelectorSwitch,
        style: { width: pageDescriptionWidth },
    ">
        Page
        <span data-bind="numberFormatted: page"></span>
        of
        <span data-bind="numberFormatted: total"></span>
    </button>

    <form data-bind="hideOnBlur: pageSelectorSwitch, submit: submit">
        <label data-focus>
            <span>Choose page:</span>
            <input type="number" name="number" data-bind="
                value: pageSelectorValue,
                attr: { min: 1, max: total() },
                style: { width: pageSelectorInputWidth },
            ">
        </label>
        <button type="submit" class="btn btn-sm btn-default">Go</button>
    </form>
</div>

<button type="button" class="btn btn-sm btn-default" data-bind="
    attr: { disabled: page() >= total() },
    click: gotoNext,
">
    Next
</button>
<button type="button" class="btn btn-sm btn-default" data-bind="
    attr: { disabled: page() >= total() },
    click: gotoLast,
">
    Last
</button>