@import '~core/styles/abstract.scss';

component-pagination {

    @extend %fcr;
    justify-content: center;
    flex-wrap: wrap;

    > * {
        margin: 0 2px;
    }

    .page-selector {
        @extend %fcr;
        justify-content: center;
        position: relative;
        text-align: center;
        font-size: 12px;

        .page-description {
            @extend %fis;
            color: #666;

            > span {
                color: #333;
                font-weight: bold;
            }
        }

        form {
            @extend %fcr;
            position: absolute;
            bottom: -38px;
            left: -50%;
            z-index: 10;
            align-items: center;
            border: solid 1px #ccc;
            border-radius: 3px;
            padding: 4px 4px 0px 10px;
            background: #fff;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);

            label {
                @extend %fcr;
                align-items: center;
                white-space: nowrap;
            }

            input {
                display: block;
                height: 25px;
                min-width: 10ch;
                background-color: #fff;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                padding: 0 2px 0 8px;
                color: #333;
                font-weight: normal;
                text-align: center;
                margin: 0 5px;
            }

            button {
                position: relative;
                top: -3px;
                padding: 3px 8px 2px;
            }
        }
    }

}
