<div class="panel panel-info fif fcc">
    <div class="panel-heading fis" style="padding: 3px;">
        <div class="dropdown pull-left">
            <button class="btn btn-default dropdown-toggle" type="button" id="vis-list" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Visualization
                <span class="caret"></span>
            </button>
            <ul class="visualization-list dropdown-menu list-group" aria-labelledby="vis-list">
                <!-- ko foreach: visualizations -->
                <li class="list-group-item" data-bind="
                    click: $component.selectVisualization,
                    css:   { active: $component.activeVisualization() === $data },
                ">
                    <img class="pull-left" data-bind="attr: { src: thumbnail, alt: alt }" width="64" height="64">
                    <p data-bind="html: name"></p>
                </li>
                <!-- /ko -->
            </ul>
        </div>
        <button class="btn btn-default panel-resizer glyphicon glyphicon-resize-full pull-right" data-bind="
            click: toggleVisualizationPanelSize
        "></button>
    </div>
    <div class="panel-body fif" style="overflow: hidden;" data-bind="
        css: $component.activeVisualization().component,
        component: {
            name: $component.activeVisualization().component,
            params: {
                bundle: $component.bundle,
                analysis: $data,
            },
        },
    "></div>
</div>
<div class="list-panels fis fcc">
    <div class="panel panel-success fif fcc">
        <div class="panel-heading fis">
            Readymade queries
        </div>
        <div class="panel-body fif" style="overflow-y: auto">
            <div class="list-group">
                <!-- ko foreach: queries -->
                <button class="list-group-item list-group-item-text" data-bind="
                    text:  name,
                    attr:  { title: description },
                    click: $component.executeQuery,
                ">
                </button>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>