@import '~core/styles/abstract.scss';

component-overview {

    @extend %fcr;

    padding: 8px;
    background: #fff;

    .panel {
        margin: 10px;
    }

    .panel-resizer {
        background: inherit !important;
        outline: none !important;
        box-shadow: none !important;
        border: none !important;
        color: #31708f;
    }

    .visualization-list {
        padding: 0;
        border: none;
    }
    .visualization-list .list-group-item {
        padding: 5px;
        min-height: 76px;
        cursor: pointer;
    }
    .visualization-list .list-group-item.active {
        cursor: default;
    }
    .visualization-list .list-group-item:hover {
        background-color: #eee;
    }
    .visualization-list .list-group-item.active:hover {
        background-color: #337ab7;
    }

    .visualization-list img {
        border: solid 1px #ccc;
        margin-right: 10px;
    }

    .visualization-list p {
        padding-top: 12px;
        min-width: 450px;
    }

}
