<div class="tree"></div>

<component-menu data-name="menu">
    <!-- ko with: $parent.rightClickedNode -->
        <!-- ko if: type === 'bundleConfigurations' -->
            <button data-bind="click: create">
                Create new bundle configuration
            </button>
        <!-- /ko -->
        <!-- ko ifnot: type === 'bundleConfigurations' -->
            <!-- ko if: type === 'activeBundleConfiguration' -->
                <button data-bind="click: clear, css: { disabled: !hasActive() }">
                    Unselect bundle configuration
                </button>
                <div role="separator" class="divider"></div>
            <!-- /ko -->
            <!-- ko if: type === 'activeAnalysisConfiguration' -->
                <button data-bind="click: mergeToActive, css: { disabled: !canBeMerged() }">
                    Merge to <strong>Active bundle configuration</strong>
                </button>
                <div role="separator" class="divider"></div>
            <!-- /ko -->
            <!-- ko if: type === 'bundleConfiguration' -->
                <button data-bind="click: makeActive, css: { disabled: isActive() }">
                    Select as <strong>Active bundle configuration</strong>
                </button>
                <div role="separator" class="divider"></div>
                <button data-bind="click: mergeToActive, css: { disabled: !canBeMerged() }">
                    Merge to <strong>Active bundle configuration</strong>
                </button>
                <button data-bind="click: rename">
                    Rename
                </button>
            <!-- /ko -->
            <button data-bind="click: clone, css: { disabled: !canBeCloned() }">
                Clone
            </button>
            <!-- ko if: type === 'bundleConfiguration' -->
                <button data-bind="click: $data.delete, css: { disabled: !canBeDeleted() }">
                    Delete
                </button>
            <!-- /ko -->
            <div role="separator" class="divider"></div>
            <button data-bind="click: $data.export, css: { disabled: !canBeExported() }">
                Export
            </button>
        <!-- /ko -->
    <!-- /ko -->
</component-menu>