@import '~core/styles/abstract.scss';

component-optimization-tree {

    @extend %component;
    @extend %fill;
    overflow: auto;
    padding-top: 10px;

    .tree {
        .active-node .fa {
            color: green;
        }

        .inactive-node {
            color: #aaa !important;
        }
    }

    component-menu {
        position: fixed;
    }

}
