@import '~core/styles/abstract.scss';

component-directives {

    @extend %component;
    @extend %fcc;

    > .head {
        padding: 9px 0;

        > .fa-filter{
            color: #555;

            &.open {
                @include enabled;
            }
            &.activated {
                color: #428bca;
            }
        }

        > .dropdown button {
            padding: 4px 12px;
        }

        > * {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    > .body {
        border-top: solid 1px #ddd;

        > .filters {
            min-width: 120px;

            &.ko-resizable-width {
                width: 33%;
                max-width: 90%;
            }

            > .filters-head {
                justify-content: space-between;
                align-items: center;
                padding: 7px 10px 7px 0;
            }

            > .text-search {
                width: 100%;
                padding-right: 10px;
                font-weight: normal;
            }

            > .lookup-fields {
                flex-wrap: wrap;

                label {
                    padding: 0 5px;
                    white-space: nowrap;
                    font-weight: normal;
                    cursor: pointer;

                    &:hover {
                        color: #2a6496;
                    }

                    input {
                        margin: 0 5px 0 0;
                    }
                }
            }

            > component-facet {
                padding: 10px 10px 10px 0;
            }
        }

        > .directives {

            > .head {
                padding: 5px 0 5px 5px;
                flex-wrap: wrap-reverse;

                component-pagination {
                    margin: 0 auto;
                }

                component-dropdown {
                    flex-basis: 150px;
                    text-align: right;
                }
            }

            > .body {
                overflow: auto;

                table {
                    /* The following rule "max-height: 100%" should be redundant, but it works as a hack to fix the
                       following problem/bug: If you grow the container's height after the table is loaded, the contents
                       of the N bottom rows are hidden. */
                    max-height: 100%;
                    table-layout: fixed;
                }

                tr {
                    cursor: pointer;
                }

                th, td { &:first-child {
                    width: 100px;
                }}

                td {
                    word-break: break-all;
                }

                .KEEP {
                    color: green;
                }

                .REMOVE {
                    color: red;
                }
            }
        }
    }

}
