<div class="head fis fcr fc-center">
    <button title="Toggle filters" class="btn btn-sm btn-default fa fa-filter open" data-bind="
        click: toggleFilters,
        css: { activated: hasAppliedFilters },
    "></button>
    <span>
        Results: <span class="label label-default" data-bind="numberFormatted: count"></span>
    </span>
</div>
<div class="body fif fcr">
    <div class="filters fis fcc" data-bind="resizableRight">
        <div class="filters-head fcr">
            <span>Filters</span>
            <button class="btn btn-sm btn-default" data-bind="
                click: clearFilters,
                disable: !hasAppliedFilters(),
            ">clear all</button>
        </div>
        <!-- ko with: textFilter -->
            <label class="text-search fis">
                <input type="text" class="form-control" placeholder="Use wildcards, like foo?bar*" data-bind="
                    value: text,
                ">
            </label>
            <div class="lookup-fields fis fcr">
                <label class="fcr fc-center">
                    <input type="checkbox" autocomplete="off" value="package" data-bind="
                        checked: lookupFields,
                        disable: lookupFields()[0] == 'package' && lookupFields().length == 1,
                    ">
                    Package
                </label>
                <label>
                    <input type="checkbox" autocomplete="off" value="class" data-bind="
                        checked: lookupFields,
                        disable: lookupFields()[0] == 'class' && lookupFields().length == 1,
                    ">
                    Class
                </label>
                <label>
                    <input type="checkbox" autocomplete="off" value="method" data-bind="
                        checked: lookupFields,
                        disable: lookupFields()[0] == 'method' && lookupFields().length == 1,
                    ">
                    Method
                </label>
            </div>
        <!-- /ko -->
        <component-facet class="fif" data-name="facet"></component-facet>
    </div>
    <div class="directives fif fcc">
        <div class="head fis fcr">
            <component-pagination data-name="pagination"></component-pagination>
            <component-dropdown class="pull-right" data-name="dropdown" params="options: sortByOptions"></component-dropdown>
        </div>
        <div class="body fif">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Directive</th>
                        <th>Package</th>
                        <th>Class</th>
                        <th>Method</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ko foreach: directives -->
                        <tr data-bind="click: $component.openMethod, rclick: $component.openMenu">
                            <td data-bind="text: type, css: type"></td>
                            <td data-bind="text: packageName"></td>
                            <td data-bind="text: className"></td>
                            <td>
                                <strong style="font-size: 110%" data-bind="text: methodName"></strong> (<span data-bind="text: getCommaSeparatedParamTypes()"></span>)
                            </td>
                        </tr>
                    <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>
</div>