<p class="navbar-text navbar-left">
    <a href="#/admin/users">Users</a>
    <i class="fa fa-angle-double-right"></i>
    <strong>Create new user</strong>
</p>

<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="#/admin/users"><i class="fa fa-times"></i> Cancel</a>
    </li>
</ul>