
component-vis-circle-packing,
.component-vis-circle-packing {

    display: block;
    position: relative;
    overflow: hidden;
    background: #222;

    ul {
        list-style: none;
    }

    .node {
        cursor: pointer;
    }
    .node:hover {
        stroke: #000;
    }

    .node--leaf {
        fill: white;
    }

    .label {
        font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-anchor: middle;
        text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
        padding: 10px;
        fill: #000;
    }

    .label,
    .node--root {
        pointer-events: none;
    }

    .btn-group-vertical {
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .btn {
        padding: 6px 10px;
    }

}
