<div class="btn-group-vertical">
    <button class="btn btn-default glyphicon glyphicon-fullscreen" title="Reset zoom" data-bind="
        click: resetZoom,
    "></button>
    <button class="btn btn-default glyphicon glyphicon-zoom-out" title="Zoom out to parent" data-bind="
        click: zoomOut,
    "></button>
</div>