
.component-tree {

    .class-node,
    .interface-node,
    .enum-node {
        position: relative;
        font-size: 120%;

        &:after {
            position: absolute;
            top: 1px;
            left: 9px;
            font-family: "Lucida Console", "Courier New", monospace;
            font-style: normal;
            font-size: 60%;
        }
    }

    .class-node {
        color: #2aabd2;

        &:after {
            content: "C";
            color: #fff;
        }
    }

    .interface-node {
        color: #2aabd2;

        &:after {
            content: "I";
            color: #2aabd2;
        }
    }

    .enum-node {
        color: #47a447;

        &:after {
            content: "E";
            color: #d0e9c6;
        }
    }

}
