<!-- ko with: bundle -->
    <li class="navbar-brand bundle fcr">
        <!-- ko with: $parent.project -->
            <a class="text-nowrap" data-bind="
                text: name,
                attr: {
                    href: '#/projects/' + encodeURIComponent(id),
                    title: 'project: ' + name,
                },
            "></a>
        <!-- /ko -->
        <span class="fa fa-angle-double-right"></span>
        <a class="text-nowrap" data-bind="
            click: $parent.openBundleInfoModal,
            text: name,
            attr: {
                href: '#',
                title: 'bundle: ' + name,
            },
        "></a>

        <span class="fa fa-angle-double-right"></span>


        <div class="btn-group btn-group-sm fis" style="margin: 2px 0 0 10px;">
            <button class="btn btn-sm btn-primary" data-bind="click: $parent.createConfiguration">
                <span class="fa fa-plus-circle"></span> .clue
            </button>
            <button class="btn btn-sm btn-primary">
                <span class="fa fa-upload"></span> .clue
            </button>
            <button class="btn btn-sm btn-primary" data-bind="click: $parent.openProguardWizard">
                <span class="fa fa-upload"></span> .pro
            </button>
        </div>

        <div class="btn-group btn-group-sm fis" style="margin: 2px 0 0 10px;">
            <button type="button" class="btn btn-success" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <!-- ko with: $parent.activeConfiguration -->
                <button type="button" class="btn btn-success dropdown-toggle text-nowrap" data-bind="
                    click: $parents[1].activateConfiguration,
                    attr: { title: 'Active configuration' },
                    text: name,
                " style="font-size: 14px; padding: 4px 12px 3px;"></button>
            <!-- /ko -->
            <ul class="dropdown-menu">
                <!-- ko foreach: $parent.configurationManager.getConfigurationsAsObservableArray() -->
                    <li>
                        <a href="#" data-bind="click: $parents[1].activateConfiguration">
                            <span data-bind="text: name"></span>
                            <span style="margin-left: 10px; font-size: 80%; color: #aaa;" data-bind="text: modified"></span>
                        </a>
                    </li>
                <!-- /ko -->
            </ul>
        </div>
    </li>
<!-- /ko -->