@import '~core/styles/abstract.scss';

.unscrollable {

    overflow-x: hidden;
    overflow-y: hidden;

}

component-codebrowser {

    @extend %fill;
    @extend %fcc;
    background: #eee;

    /* *****************************************************************************
     *  Navbar rules
     * ****************************************************************************/

    .navbar {

        .analysis-creation > button {
            margin: 5px 13px;
            padding: 8px 12px;
        }

        .bundle, .analyses {
            padding: 8px 4px;
            list-style: none;
        }

        .bundle {

            max-width: 345px;

            > a {
                padding: 7px;
                color: #ddd;
                margin: 0;

                &:hover {
                    color: #fff;
                }
            }

            > button {
                top: 0;
                padding-left: 15px;
                padding-right: 15px;
                margin-left: 15px;
            }

            > span {
                color: #888;
                padding-top: 8px;
            }
        }

        .analyses {
            .dropdown-menu {
                overflow-y: auto;
                max-height: 500px;
            }
            .dropdown-menu.tabled {
                display: table;
            }
            .dropdown-menu.tabled > * {
                display: table-row;
            }
            .dropdown-menu.tabled > * > * {
                display: table-cell;
            }
            .active-analysis {
                padding-right: 3px;
            }

            .analysis {
                > a {
                    @extend %fcr;
                    padding: 10px 12px;
                    cursor: pointer;

                    .state {
                        margin-left: 15px;
                        margin-right: 3px;
                        padding-top: 1px;
                    }
                    .time {
                        font-size: 85%;
                    }
                    button {
                        margin-right: 12px;
                    }
                }

                &.activated {
                    > a {
                        border-color: #4cae4c;
                        background-color: #5cb85c;
                        color: #fff;
                        cursor: default;

                        .name {
                            font-weight: bold;
                        }
                    }
                }

                &.dummy.activated {
                    > a {
                        border-color: #eea236;
                        background-color: #f0ad4e;
                        color: #fff;
                        cursor: default;

                        .name {
                            font-weight: bold;
                        }
                    }
                }

                &:not(.activated) {
                    .time {
                        opacity: .6;
                    }
                }

                .fa-info {
                    padding-left: 16px;
                    padding-right: 16px;
                    color: #555;
                }
            }
        }
    }

    .optimize-confirmation .modal-body {
        padding: 30px;
    }
    .optimize-confirmation .modal-footer button,
    .optimize-confirmation .modal-footer a {
        padding: 12px 25px;
    }

    .tab-content {
        background-color: #fff;
    }

    /* *****************************************************************************
     *  Sidebar rules
     * ****************************************************************************/

    #left-sidebar {
        .nav-tabs {
            li[role="presentation"] {
                min-width: 100px;
                text-align: center;
            }
        }

        &.ko-resizable-width {
            width: 400px;
            max-width: 45%;
            min-width: 200px;
        }

        > .ko-resizable-height {
            height: 50%;
            min-height: 100px;
            max-height: calc(100% - 150px);
        }
    }

    #right-sidebar {

        &.ko-resizable-width {
            width: 400px;
            max-width: 45%;
            min-width: 200px;
        }

        > .ko-resizable-height {
            height: 130px;
            max-height: 90%;
            min-height: 10%;
        }
    }

}
