<navbar class="fis" params="content: navbarContent"></navbar>

<!-- ko if: bundle -->
<div class="fif fcr">

    <div id="left-sidebar" class="fis fcc" data-bind="resizableRight: {
        lsKey: lsKeys.sizes,
        lsValueId: 0,
        onDrag: onPanelsResizing,
    }">
        <!--
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" data-bind="
                click: openConfigurationsTab,
                css: { active: activeBottomLeftTab() === 'configurationsTab' }
            ">
                <a data-target="#configurations" aria-controls="configurations" role="tab" data-toggle="tab">Configurations</a>
            </li>
            <li role="presentation" data-bind="
                click: openAnalysesTab,
                css: { active: activeBottomLeftTab() === 'analysesTab' }
            ">
                <a data-target="#analyses" aria-controls="analyses" role="tab" data-toggle="tab">Analyses</a>
            </li>
        </ul>
        <div class="tab-content" data-bind="resizableBottom: { lsKey: lsKeys.sizes, lsValueId: 10 }">
            <div class="tab-pane" role="tabpanel" id="configurations" data-bind="
                css: { active: activeBottomLeftTab() === 'configurationsTab' },
            ">
                <component-configurations params="bundle: bundle.peek()"></component-configurations>
            </div>
            <div class="tab-pane" role="tabpanel" id="analyses" data-bind="
                css: { active: activeBottomLeftTab() === 'analysesTab' },
            ">
                <component-analyses params="bundle: bundle.peek()"></component-analyses>
            </div>
        </div>
        -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" data-bind="
                click: openProjectTree,
                css: { active: activeTree() === 'projectTree' },
            ">
                <a data-target="#project-tree" aria-controls="project-tree" role="tab" data-toggle="tab"
                   class="fa fa-folder-open" title="Bundle files"></a>
            </li>
            <li role="presentation" data-bind="
                click: openPackageTree,
                css: { active: activeTree() === 'packageTree' },
            ">
                <a data-target="#package-tree" aria-controls="package-tree" role="tab" data-toggle="tab"
                   class="fa fa-cubes" title="Class hierarchy"></a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" role="tabpanel" id="project-tree" data-bind="css: {
                active: activeTree() === 'projectTree' },
            ">
                <component-project-tree params="bundle: bundle.peek()"></component-project-tree>
            </div>
            <div class="tab-pane" role="tabpanel" id="package-tree" data-bind="css: {
                active: activeTree() === 'packageTree',
            }">
                <component-package-tree params="bundle: bundle.peek()"></component-package-tree>
            </div>
        </div>
    </div>

    <component-tabs class="fif" params="
        bundle: bundle.peek(),
    "></component-tabs>

    <div id="right-sidebar" class="fis fcc" data-bind="
        visible: isRightSidebarVisible,
        resizableLeft: {
            lsKey: lsKeys.sizes,
            lsValueId: 1,
            onDrag: onPanelsResizing,
        },
    ">
        <div class="fis fcc" data-bind="resizableBottom: {
            lsKey: lsKeys.sizes,
            lsValueId: 2,
        }">
            <component-selection-history></component-selection-history>
        </div>
        <component-selection class="fif" params="
            bundle: bundle.peek(),
        "></component-selection>
    </div>
</div>

<component-bundle-info params="
    bundle: bundle.peek(),
    open: openModal.bundleInfo,
"></component-bundle-info>

<component-opt-dir-menu params="bundle: bundle.peek()"></component-opt-dir-menu>

<component-configuration-creation></component-configuration-creation>
<component-configuration-rename></component-configuration-rename>
<component-configuration-deletion></component-configuration-deletion>

<component-analysis-creation></component-analysis-creation>
<component-analysis-deletion></component-analysis-deletion>

<component-wizard
    data-name="proguardWizard"
    data-finalMessage="Proguard file imported to configuration successfully"
>
    <component-proguard-wizard-step1 class="wizard-step"></component-proguard-wizard-step1>
    <component-proguard-wizard-step2 class="wizard-step"></component-proguard-wizard-step2>
    <component-proguard-wizard-step3 class="wizard-step" params="
        bundle: $parent.bundle.peek(),
    "></component-proguard-wizard-step3>
</component-wizard>

<!-- /ko -->