@import '~core/styles/abstract.scss';

component-rule-creation {

    @extend %fcc;
    padding: 10px;

    > .head {
        align-items: center;

        > span {
            margin: 0 5px;
        }
    }

    .fa-remove {
        border: none;
    }

    .relative {
        position: relative;
    }

    .cpbcopy {
        position: absolute;
        top: 5px;
        right: 15px;
        z-index: 10;
        padding: 0;
        border: none;
        opacity: 0.75;

        &:hover {
            opacity: 1;
        }
    }

    textarea,
    .ace {
        border: solid 1px #ccc;
        border-radius: 3px;
    }

    textarea {
        resize: none;
        font-weight: normal;
        font-family: Cousine, Consolas, monospace;
    }

    .comment {
        margin-top: 5px;

        label {
            margin-bottom: 0;
        }
    }

    .actions {
        margin-top: 5px;

        .create {
            min-width: 75px;
        }
    }

}
