<div class="head fis fcr">
    <h4 class="mr-auto">Rule creation</h4>
    <button class="btn btn-sm btn-default fa fa-remove" data-bind="
        click: hide,
        visible: closable,
    "></button>
</div>
<div class="fif fcc">
    <div class="editor fif fcc">
        Body
        <div class="relative fif">
            <div class="fill ace"></div>
            <button class="btn btn-sm btn-default fa fa-clone cpbcopy"
                    title="Copy rule to clipboard"
                    data-bind="click: copyRuleBodyToClipboard"
            ></button>
        </div>
    </div>
    <div class="comment fis fcc">
        Comment
        <label class="relative">
            <textarea class="fill" rows="3" data-bind="value: editableComment"></textarea>
            <button class="btn btn-sm btn-default fa fa-clone cpbcopy"
                title="Copy comment to clipboard"
                data-bind="click: copyCommentToClipboard"
            ></button>
        </label>
    </div>
    <div class="actions fcr">
        <button class="create btn btn-sm btn-success ml-auto" data-bind="
            click: create,
            disable: hasPendingCreateRequest() || !configuration.canModifyRuleSet(),
            text: hasPendingCreateRequest() ? 'Creating ...' : 'Create',
        "></button>
    </div>
</div>