<ul class="nav nav-tabs fill fch" role="tablist">
    <!-- ko foreach: tabs -->
    <li class="fis" data-bind="
        click: $component.selectTab,
        midclick: $component.closeTab,
        css: { active: $data === $component.activeTab() },
        attr: { id: domId, title: tooltip },
    ">
        <a data-toggle="tab" data-target="" role="tab" data-bind="
            text: name,
        "></a>
        <button class="glyphicon glyphicon-remove close" data-bind="
            visible: closable,
            click: $component.closeTab,
        "></button>
    </li>
    <!-- /ko -->
</ul>