<form class="fill" enctype="multipart/form-data">
    <input type="file" name="file" class="hide">
    <div class="fill" data-bind="click: selectFile">
        <span class="fa fa-upload fa-5x"></span>
        <br>
        <span data-bind="html: fileName"></span>
    </div>
</form>