@import '~core/styles/abstract.scss';

component-proguard-wizard-step1 {

    form > div {

        border: dashed 1px #ccc;
        @extend %fcc;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: #f4f4f4;
            border-color: #aaa;
        }

    }

}
