<navbar params="content: navbarContent"></navbar>

<div class="container-fluid" style="width: 500px; margin: 20px auto;">
    <form data-bind="submit: submit">
        <table class="table table-bordered" style="background-color: #f9f9f9;">
            <tbody>
                <tr>
                    <td class="td-label" style="vertical-align: middle;">
                        Current password
                    </td>
                    <td>
                        <input name="oldPassword" class="form-control" type="password"
                               data-bind="textInput: oldPassword">
                    </td>
                </tr>
                <tr>
                    <td class="td-label" style="vertical-align: middle;">
                        New password
                    </td>
                    <td>
                        <input name="newPassword" class="form-control" type="password"
                               data-bind="textInput: newPassword">
                    </td>
                </tr>
                <tr>
                    <td class="td-label" style="vertical-align: middle;">
                        Repeat new password
                    </td>
                    <td>
                        <div style="position: relative;">
                            <input name="newPasswordRepeat" class="form-control" type="password"
                                   data-bind="textInput: newPasswordRepeat, event: { focus: newPasswordRepeatFocused }">
                            <p style="position: absolute; top: 8px; left: 300px; width: 200px; color: #ff9904;"
                               data-bind="visible: newPasswordRepeatHasBeenFocused() && newPassword() !== newPasswordRepeat()">
                                Passwords do not match
                            </p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-right">
            <button type="submit" class="btn btn-success"
                    data-bind="enable: oldPassword() && newPassword() && newPassword() == newPasswordRepeat()">
                Change
            </button>
        </div>
    </form>
</div>