<p class="navbar-text navbar-left">
    <strong>Change password</strong>
</p>

<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="#/"><i class="fa fa-times"></i> Cancel</a>
    </li>
</ul>