
$resizer-size: 8px;

.ko-resizable {

    position: relative;

    /* Disable flex grow and shrink in the case that the resizable element is an item inside a flex container. */
    flex-grow: 0;
    flex-shrink: 0;

    > .ko-resizer {
        position: absolute;
        border-style: solid;
        border-color: #ccc;
        border-width: 0;
        background-color: #ddd;

        &:hover {
            background-color: #ccc;
        }
    }

    &.ko-resizable-width {

        > .ko-resizer {
            top: 0;
            height: 100%;
            width: $resizer-size;
            border-width: 0 1px;
            cursor: ew-resize;
        }

        &.ko-resizable-right {
            margin-right: $resizer-size;

            > .ko-resizer {
                right: -$resizer-size;
            }
        }

        &.ko-resizable-left {
            margin-left: $resizer-size;
            left: 0 !important;

            > .ko-resizer {
                left: -$resizer-size;
            }
        }
    }

    &.ko-resizable-height {

        > .ko-resizer {
            left: 0;
            width: 100%;
            height: $resizer-size;
            border-width: 1px 0;
            cursor: ns-resize;
        }

        &.ko-resizable-top {
            margin-top: $resizer-size;
            top: 0 !important;

            > .ko-resizer {
                top: -$resizer-size;
            }
        }

        &.ko-resizable-bottom {
            margin-bottom: $resizer-size;

            > .ko-resizer {
                bottom: -$resizer-size;
            }
        }
    }

}
