
component-file-structure-tree {

    .field-node {
        position: relative;
        font-size: 120%;
        color: slateblue;

        &:after {
            content: "f";
            position: absolute;
            top: 2px;
            left: 9px;
            font-family: "Liberation Mono", monospace;
            font-style: normal;
            font-size: 60%;
            font-weight: bold;
            color: #e8eff7;
        }
    }

}
