
.jstree-icon.method-node {
    position: relative;
    font-size: 120%;
    color: #f0ad4e;

    &:after {
        content: "m";
        position: absolute;
        top: 0;
        left: 8px;
        font-family: "Helvetica", sans-serif;
        font-style: normal;
        font-size: 60%;
        font-weight: bold;
        color: #f7ecb5;
    }
}
