<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form data-bind="submit: submit">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4>Merge analysis to configuration: <span data-bind="text: configuration().name"></span></h4>
                </div>
                <div class="modal-body">
                    <p class="panel panel-info">
                        <span class="glyphicon glyphicon-info-sign text-info"></span>
                        This list contains only the successfully finished analyses.
                    </p>
                    <div class="list-group">
                        <!-- ko foreach: finishedAnalyses -->
                            <label class="list-group-item" data-bind="css: { selected: $component.selectedAnalysis() === $data }">
                                <input type="radio" name="analysis" data-bind="
                                    value: $data,
                                    checked: $component.selectedAnalysis,
                                ">
                                <span data-bind="text: name"></span>
                            </label>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" data-bind="disable: !selectedAnalysis()">Merge</button>
                </div>
            </form>
        </div>
    </div>
</div>