@import '~core/styles/abstract.scss';

component-configuration-import-analysis {

    .modal {
        overflow: auto;
        padding: 30px !important;
    }
    .modal-dialog {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .modal-content {
        overflow: auto;
        display: flex;
    }
    .modal-content form {
        display: flex;
        flex-direction: column;
    }

    .modal-header {
        flex-grow: 0;
        padding: 12px 15px;
    }
    .modal-body {
        flex-grow: 1;
        @extend %fcc;
        overflow: auto;
        padding: 8px;

        .panel-info {
            @extend %fis;
            padding: 5px 10px;
        }

        .list-group {
            @extend %fif;
            overflow: auto;

            .list-group-item {
                @extend %fcr;
                align-items: center;

                &.selected {
                    @include enabled;
                }
                &:hover {
                    @include selected;
                }

                input[type="radio"] {
                    margin: 0 10px 0 0;
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
    .modal-body > .container-fluid {
        margin: 20px auto;
    }
    .modal-footer {
        flex-grow: 0;
        padding: 10px;
    }

    .checkbox,
    .radio {
        margin-left: 20px;
    }

}
