<!-- ko if: isLocalOrZipFile() -->
    <label>
        <input class="form-control" type="file" data-bind="
            value: valueObservables[0],
            attr: {
                name: option.id,
                multiple: option.multipleValues,
                required: required,
            },
        ">
    </label>
<!-- /ko -->
<!-- ko if: isMavenArtifact() -->
    <label>
        <input class="form-control" type="text" placeholder="Maven artifacts, e.g.: org.apache.ivy:ivy:2.3.0, foo.bar:proj:x.y" data-bind="
            value: valueObservables[1],
            attr: {
                name: option.id,
                required: required,
            },
        ">
    </label>
<!-- /ko -->
<!-- ko if: isUrl() -->
    <label>
        <input class="form-control" type="text" placeholder="URLs, e.g.: http://link/to/jar, http://link/to/other/jar" data-bind="
            value: valueObservables[2],
            attr: {
                name: option.id,
                required: required,
            },
        ">
    </label>
<!-- /ko -->