<label>
    <select class="form-control" data-bind="
        options: option.validValues,
        optionsText: option.valuePropertyName,
        optionsValue: option.valuePropertyName,
        optionsCaption: option.caption,
        value: option.defaultValue,
        attr: {
            name: option.id,
            required: option.required,
        },
    "></select>
</label>