@import '~core/styles/abstract.scss';

component-bundle-info {

    .modal {
        padding: 50px !important;
        overflow: hidden !important;

        .modal-dialog {
            @extend %fill;
            margin: 0 !important;

            .modal-content {
                @extend %fill;
                @extend %fcc;
                overflow: hidden !important;

                .modal-header {
                    @extend %fis;
                    padding: 12px 15px;

                    h4 {
                        margin: 5px 0;
                    }
                }

                .modal-body {
                    @extend %fif;
                    background-color: #fff;
                    overflow-x: auto;
                    overflow-y: auto;

                    table {
                        table-layout: fixed;

                        td {
                            padding: 12px 15px 10px;
                            word-wrap: break-word;

                            &.td-label {
                                width: 300px;
                                opacity: .9;
                            }
                        }
                    }
                }

                .modal-footer {
                    @extend %fis;
                    padding: 10px;
                }
            }
        }
    }

}
