
navbar {

    > .navbar {
        margin-bottom: 2px;
        border-bottom: solid 1px #428bca;
    }

    .fa-angle-double-right {
        margin: 0 4px;
    }

    .navbar-brand {
        color: #428bca !important;
    }

    #navbarMenu {
        padding-right: 14px;
    }

    li.round-btn {
        padding: 7px 6px;
    }
    li.round-btn > a,
    li.round-btn > button {
        outline: none;
        border: none;
        border-radius: 50%;
        height: 38px;
        width: 38px;
        background-color: #ccc !important;
        color: #444 !important;
        opacity: 0.9;
    }
    li.round-btn > a {
        padding-top: 9px;
        padding-left: 14px;
    }
    li.round-btn > a:hover,
    li.round-btn > button:hover {
        opacity: 1;
    }
    li.round-btn > a:active,
    li.round-btn > button:active {
        box-shadow: inset 0 0 5px #444;
    }
    li.round-btn > a.fa-user {
        background-color: #428bca !important;
        color: #eee !important;
    }

}
