<nav role="navigation" class="fis container-fluid navbar navbar-static-top navbar-inverse">
    <div class="navbar-header">
        <button type="button" data-toggle="collapse" class="navbar-toggle collapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#/" class="navbar-brand">Clue</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="nav navbar-nav navbar-right">
            <!-- ko if: $root.isUserAuthenticated() -->
            <li class="round-btn">
                <a href="#" class="dropdown-toggle fa fa-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">
                        <span data-bind="text: $root.getUsername()"></span>
                    </li>
                    <!-- ko if: $root.isUserAdmin() -->
                    <li>
                        <!-- ko if: isOnAdminPage() -->
                        <a href="#/">
                            <i class="fa fa-bicycle"></i>
                            Go to users page
                        </a>
                        <!-- /ko -->
                        <!-- ko ifnot: isOnAdminPage() -->
                        <a href="#/admin/">
                            <i class="fa fa-motorcycle"></i>
                            Go to admin page
                        </a>
                        <!-- /ko -->
                    </li>
                    <!-- /ko -->
                    <li>
                        <a href="#/change-password">
                            <i class="fa fa-key"></i>
                            Change password
                        </a>
                    </li>
                    <li>
                        <a href="#" data-bind="click: logout">
                            <i class="fa fa-sign-out"></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </li>
            <!-- /ko -->
            <!-- ko ifnot: $root.isUserAuthenticated() -->
            <li class="round-btn">
                <a href="#/login" class="fa fa-lock"></a>
            </li>
            <!-- /ko -->
        </ul>
        <!-- ko if: viewContent -->
            <!-- ko with: $parent -->
            <div data-bind="stemplate: $component.viewContent"></div>
            <!-- /ko -->
        <!-- /ko -->
    </div>
</nav>