@import '~core/styles/abstract.scss';

component-analyses {

    @extend %component;
    @extend %fill;
    @extend %fcc;

    .toolbar {
        @extend %fis;
        padding: 10px;

        button {
            border-radius: 20px;
            outline: none !important;
        }
    }

    .tree {
        @extend %fif;
        padding-bottom: 10px;
        overflow: auto;
    }

    component-menu {
        position: fixed;
        min-width: 100px;
    }

}
