<div class="toolbar">
    <button class="btn btn-default" data-bind="click: createAnalysis">
        <span class="fa fa-plus-circle"></span> Create analysis
    </button>
</div>

<div class="tree"></div>

<component-menu data-name="menu">
    <!-- ko with: $parent.rightClickedNode().analysis -->
        <!-- ko foreach: orderedActions -->
            <button data-bind="
                click: execute,
                css: cssDisabled() + cssActive() + cssHidden(),
            ">
                <span data-bind="css: cssIcon()"></span>&nbsp;
                <span data-bind="text: text()"></span>
            </button>
        <!-- /ko -->
    <!-- /ko -->
</component-menu>