<div class="toolbar fis">
    <span title="Move focus one element down (keyboard shortcut: 'A', 'S', 'D')">
        <button class="moveFocusDown btn btn-default fa fa-angle-down" data-bind="
            click: activateNext,
            css: { disabled: !hasNextEntry() },
        "></button>
    </span>
    <span title="Move focus one element up (keyboard shortcut: 'W')">
        <button class="moveFocusUp btn btn-default fa fa-angle-up" data-bind="
            click: activatePrevious,
            css: { disabled: !hasPreviousEntry() },
        "></button>
    </span>
    <span title="Clear all (keyboard shortcut: 'C')">
        <button class="clearAll btn btn-default fa fa-trash-o pull-right" data-bind="
            click: clear,
            css: { disabled: history().length === 0 },
        "></button>
    </span>
    <span title="Pop all elements above focused element">
        <button class="popUntilFocused btn btn-default fa fa-reply-all fa-flip-horizontal pull-right" data-bind="
            click: popUntilFocused,
            css: { disabled: !hasNextEntry() },
        "></button>
    </span>
    <span title="Pop top element (keyboard shortcut: 'P')">
        <button class="popTop btn btn-default fa fa-reply fa-flip-horizontal pull-right" data-bind="
            click: pop,
            css: { disabled: history().length === 0 },
        "></button>
    </span>
</div>
<div class="entries fif">
    <!-- https://github.com/philipwalton/flexbugs/issues/108 -->
    <!-- http://jsfiddle.net/5tk2j2h4/15/ -->
    <div class="fcc">
        <!-- ko foreach: history -->
            <div class="entry fis fcr" data-bind="
                click: $component.activate,
                attr: { 'data-index': $index.peek() },
            ">
                <!-- ko with: programElement -->
                    <div class="icon fis" data-bind="html: iconSmall"></div>
                    <div class="name fif" data-bind="text: name"></div>
                    <!-- ko if: !$parent.containsQuery() -->
                        <div class="id fif">
                            <span data-bind="text: filepath"></span>
                            :<span data-bind="text: position.startLine"></span>
                        </div>
                    <!-- /ko -->
                <!-- /ko -->
                <span class="same-label" title="Same program element as the currently active one">same</span>
            </div>
        <!-- /ko -->
    </div>
</div>