@import '~core/styles/abstract.scss';

component-selection-history {

    @extend %component;
    @extend %fill;
    @extend %fcc;

    margin: 0 2px;
    border: solid 1px #ddd;
    background-color: #fff;

    .toolbar {
        padding: 4px 4px 5px;

        .btn.btn-default {
            width: 30px;
            height: 30px;
            padding: 0;
            border-radius: 50%;
        }
        .btn.btn-default:focus {
            outline: none;
        }
    }
    
    .entries {
        background-color: #f8f8f8;
        overflow: auto;
    }

    .entry {
        position: relative;
        margin: 0;
        padding: 5px 10px;
        border: 0 solid #ccc;
        border-top-width: 1px;
        background-color: #fff;
        cursor: pointer;

        .pe-definition {
            padding-left: 1px;
            font-size: 70%;
            font-style: italic;
        }
        &:last-child {
            border-bottom-width: 1px;
        }
        &.active {
            background-color: lightgreen;
        }
        &:not(.active):hover {
            background-color: #e7f4e7;
        }
        &:active {
            border-color: #5cb85c;
        }
        .same-label {
            display: none;
            position: absolute;
            top: 5px;
            right: 5px;
            border: solid 1px #5cb85c;
            border-radius: 3px;
            background-color: #e7f4e7;
            font-size: 11px;
            padding: 1px 5px;
            color: #5cb85c;
        }
        &.same:not(.active) .same-label {
            display: block;
        }

        .icon {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            min-width: 34px;
        }
        .name {
            min-width: 30px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .id {
            margin-left: 10px;
            color: #bbb;
            font-style: italic;
            text-align: right;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            flex-shrink: 10;
        }
        &.active .id {
            color: #fff;
        }
    }

}
