<div>
    <span>Filters</span>
    <span><a data-bind="click: clearFilters, css: { hide: !hasChecked }">clear all</a></span>
</div>

<div data-bind="with:textFilter">
    <form>
        <div class="form-group">
            <label class="control-label" for="textSearch">Name</label>
            <input type="text" id="textSearch" class="form-control" data-bind="value:text" placeholder="Use wildcards, like foo?bar*">
            <div>
                <input type="checkbox" autocomplete="off" value="package" data-bind="checked:lookupFields, disable:lookupFields()[0] == 'package' && lookupFields().length == 1"> Package
                <input type="checkbox" autocomplete="off" value="class" data-bind="checked:lookupFields, disable:lookupFields()[0] == 'class' && lookupFields().length == 1"> Class
                <input type="checkbox" autocomplete="off" value="method" data-bind="checked:lookupFields, disable:lookupFields()[0] == 'method' && lookupFields().length == 1  "> Method
            </div>
        </div>
    </form>
</div>

<!-- ko foreach: facets -->
    <component-facet params="category: category, values: values"></component-facet>
<!-- /ko -->