@import '~core/styles/abstract';

component-facet {
    @extend %component;
    padding-right: 10px;

    > div {
        @extend %fcr;
        margin-bottom: 10px;

        a {
            margin-left: 10px;
            cursor: pointer;
        }
    }
}
