<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4>Delete project</h4>
            </div>
            <div class="modal-body">
                <!-- ko with: project -->
                    Are you sure you want to delete project <strong data-bind="text: name"></strong>
                <!-- /ko -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger" data-bind="click: submit">Delete</button>
            </div>
        </div>
    </div>
</div>