<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h2>
                <a href="#/" class="">Clue</a>
            </h2>
            <div class="well">
                <form method="post" data-bind="submit: submit">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" name="username" class="form-control" placeholder="Username" autofocus>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary" data-loading-text="Please wait...">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>