
component-configuration-deletion {

    .modal {
        overflow: auto;
        padding: 30px !important;
    }
    .modal-dialog {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .modal-content {
        overflow: auto;
        display: flex;
    }
    .modal-content form {
        display: flex;
        flex-direction: column;
    }

    .modal-header {
        flex-grow: 0;
        padding: 12px 15px;
    }
    .modal-body {
        flex-grow: 1;
        overflow: auto;
        padding: 8px;
    }
    .modal-body > .container-fluid {
        margin: 20px auto;
    }
    .modal-footer {
        flex-grow: 0;
        padding: 10px;
    }

    .checkbox,
    .radio {
        margin-left: 20px;
    }

}
