@import '~core/styles/abstract.scss';

component-file-structure-tree {

    @extend %component;
    @extend %fill;
    overflow: auto;
    padding-top: 10px;

    /* Put "analysis optimization directive" rules before "user optimization directive" because the latter are stronger. */

    .directive-analysis-KEEP {
        position: relative;
        color: green !important;
        text-decoration: underline !important;
    }
    .directive-analysis-REMOVE {
        position: relative;
        color: red !important;
        text-decoration: line-through !important;
    }
    .directive-analysis-KEEP:before,
    .directive-analysis-REMOVE:before {
        position: absolute;
        top: 0;
        right: -12px;
        padding: 0 0 0 2px;
        width: 13px;
        height: 13px;
        line-height: 12px;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        border-width: 1px;
        border-style: solid;
        border-radius: 3px;
        opacity: 100%;
    }
    .directive-analysis-KEEP:before {
        border-color: green;
        background-color: #b4ffaf;
        color: green;
    }
    .directive-analysis-REMOVE:before {
        border-color: red;
        background-color: #ffdada;
        color: red;
    }
    .directive-analysis-KEEP:before,
    .directive-analysis-REMOVE:before {
        content: 'A';
    }

    .directive-user-KEEP {
        position: relative;
        color: green !important;
        text-decoration: underline !important;
    }
    .directive-user-REMOVE {
        position: relative;
        color: red !important;
        text-decoration: line-through !important;
    }
    .directive-user-KEEP:after,
    .directive-user-REMOVE:after {
        position: absolute;
        top: 0;
        right: -12px;
        padding: 0 0 0 2px;
        width: 13px;
        height: 13px;
        line-height: 12px;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        border-width: 1px;
        border-style: solid;
        border-radius: 3px;
        opacity: 100%;
    }
    .directive-user-KEEP:after {
        background-color: #b4ffaf;
    }
    .directive-user-REMOVE:after {
        background-color: #ffdada;
    }
    .directive-user-KEEP:after,
    .directive-user-REMOVE:after {
        content: 'B';
    }

    .directive-user-KEEP.directive-analysis-KEEP:after,
    .directive-user-KEEP.directive-analysis-REMOVE:after,
    .directive-user-REMOVE.directive-analysis-KEEP:after,
    .directive-user-REMOVE.directive-analysis-REMOVE:after {
        right: -28px;
    }

}
