<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form data-bind="submit: submit">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4>
                        <span class="fa fa-trash"></span> Delete analysis
                    </h4>
                </div>
                <div class="modal-body" style="overflow: auto">
                    <!-- ko if: analysis -->
                    <!-- ko with: analysis -->
                    <small data-bind="text: id"></small>
                    <div class="alert">
                        <div class="pull-left text-muted" style="margin: 0 1em">
                            <i class="fa fa-info fa-3x"></i>
                        </div>
                        <span class="text-muted" data-bind="text: name"></span>
                        <br/>
                        <strong><span data-bind="text: inputs.join(', ')"></span></strong>
                    </div>
                    <!-- /ko -->
                    <!-- /ko -->
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" data-loading-text="Wait...">
                        Delete
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>