<navbar params="content: navbarContent"></navbar>

<div class="container-fluid" style="width: 500px; margin: 20px auto;">
    <form data-bind="submit: submit">
        <table class="table table-bordered" style="background-color: #f9f9f9;">
            <tbody>
                <tr>
                    <td class="td-label" style="vertical-align: middle;">
                        Password
                    </td>
                    <td>
                        <input name="newPassword" class="form-control" type="password" data-bind="textInput: password">
                    </td>
                </tr>
                <tr>
                    <td class="td-label" style="vertical-align: middle;">
                        Repeat password
                    </td>
                    <td>
                        <div style="position: relative;">
                            <input name="newPasswordRepeat" class="form-control" type="password"
                                   data-bind="textInput: passwordRepeat, event: { focus: passwordRepeatFocused }">
                            <p style="position: absolute; top: 8px; left: 300px; width: 200px; color: #ff9904;"
                               data-bind="visible: passwordRepeatHasBeenFocused() && password() !== passwordRepeat()">
                                Passwords do not match
                            </p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-right">
            <button type="submit" class="btn btn-success" data-bind="enable: password() && password() == passwordRepeat()">
                Create
            </button>
        </div>
    </form>
</div>