<div class="head fis fcr">
    <div class="fcr fc-center mr-auto">
        <h4>Rule definition</h4>
        &nbsp;&nbsp;
        <button class="btn btn-sm btn-default fa fa-trash" title="Delete rule" data-bind="
            click: deleteRule,
            disable: !configuration.canModifyRuleSet(),
        " style="border-radius: 12px;"></button>
    </div>
    origin:
    <span class="badge" data-bind="text: rule().origin"></span>
    matching methods:
    <span class="badge" data-bind="text: rule().matchingMethods"></span>
    <button class="btn btn-sm btn-default fa fa-remove" data-bind="click: hide"></button>
</div>
<div class="fif fcr">
    <div class="fif fcc">
        <div class="editor fif fcc" style="margin-bottom: 5px;">
            Body
            <div class="relative fif">
                <div class="fill ace"></div>
                <button class="btn btn-sm btn-default fa fa-clone cpbcopy"
                    title="Copy rule to clipboard"
                    data-bind="click: copyRuleBodyToClipboard"
                ></button>
            </div>
        </div>
        <div class="comment fis fcc">
            Comment
            <label class="relative" style="margin-bottom: 0;">
                <textarea class="fill" rows="3" data-bind="
                    attr: { readonly: !canEdit() },
                    textInput: editableComment,
                "></textarea>
                <button class="btn btn-sm btn-default fa fa-clone cpbcopy"
                        title="Copy comment to clipboard"
                        data-bind="click: copyCommentToClipboard"
                ></button>
            </label>
        </div>
        <!-- ko if: editable -->
            <div class="actions fcr" style="justify-content: space-between;">
                <button class="btn btn-sm btn-default" data-bind="
                    click: reset,
                    disable: !modified() || rule().hasPendingOperation(),
                ">Reset</button>
                <!-- ko if: modified -->
                    <span class="modified">Rule has been modified. Closing the rule panel will discard any changes.</span>
                <!-- /ko -->
                <button class="save btn btn-sm btn-success" data-bind="
                    click: save,
                    disable: !modified() || !configuration.canModifyRuleSet(),
                    text: hasPendingSaveRequest() ? 'Saving ...' : 'Save',
                "></button>
            </div>
        <!-- /ko -->
    </div>
    <div class="fis fcc" style="width: 33%; margin-left: 10px; max-width: 50%; min-width: 10%; position: relative;"
         data-bind="resizableLeft">
        Matching methods
        <!-- ko with: rule().ruleBody -->
            <component-rule-expansion-tree class="fif" style="border: solid 1px #ccc; border-radius: 3px;" params="
                bundleId: $parent.bundle.id,
                configurationName: $parent.configuration.name.peek(),
                ruleId: $parent.rule.peek().id,
            "></component-rule-expansion-tree>
        <!-- /ko -->
        <div class="fill" style="position: absolute; top: 0; left: 0; background-color: #fff; opacity: 0.5;"
            data-bind="visible: hasPendingSaveRequest()"></div>
    </div>
</div>