@import '~core/styles/abstract.scss';

component-rule {

    @extend %fcc;
    padding: 10px;

    > .head {
        align-items: center;

        > span {
            margin: 0 5px;
        }
    }

    .fa-remove {
        border: none;
    }

    .relative {
        position: relative;
    }

    .cpbcopy {
        position: absolute;
        top: 5px;
        right: 15px;
        z-index: 10;
        padding: 0;
        border: none;
        opacity: 0.75;

        &:hover {
            opacity: 1;
        }
    }

    textarea,
    .ace {
        border: solid 1px #ccc;
        border-radius: 3px;
    }

    textarea {
        resize: none;
        font-weight: normal;
        font-family: Cousine, Consolas, monospace;
    }

    .modified {
        font-size: 85%;
        font-style: italic;
    }

    .actions {
        margin-top: 5px;
        align-items: center;

        .save {
            margin-left: 5px;
            min-width: 75px;
        }
    }

    .ui-resizable-handle.ui-resizable-w.ko-resizer:not(:hover) {
        border-color: transparent;
        background-color: inherit;
    }

}
