@import '~core/styles/abstract.scss';

component-test {

    #nonpositioned-zindex {
        background-color: #2a6496;
        position: relative;
        z-index: -2;
        padding-right: 100px;

        div:first-child {
            background-color: red;
            width: fit-content;
            z-index: 2;
        }

        div:nth-child(2) {
            background-color: yellow;
            position: relative;
            left: 20px;
            top: -4px;
            z-index: -1;
        }
    }

    #double {
        display: flex;
        margin-top: 50px;

        > div {
            height: 50px;
            flex-grow: 1;
            flex-shrink: 1;

            .component {
                @extend %fill;
                position: relative;
                background-color: silver;
                border: solid 3px black;

                .menu {
                    position: absolute;
                    width: 100px;
                    height: 10px;
                    background-color: gray;
                    border: solid 1px black;
                    z-index: 200;
                }
            }

            &:first-child {
                background-color: #8cd88c;

                .component .menu {
                    top: 10px;
                    right: -40px;
                }
            }

            &:nth-child(2) {
                background-color: silver;

                .component .menu {
                    top: 30px;
                    left: -40px;
                }
            }
        }
    }

    #stacking-order {
        position: relative;
        margin-top: 50px;
        margin-bottom: 275px;

        div:first-child {
            /*opacity: .99;*/
            transform: translate(0,0);
        }

        .red, .green, .blue {
            position: absolute;
            width: 100px;
            height: 100px;
            color: white;
            line-height: 100px;
            text-align: center;
        }

        .red {
            z-index: 1;
            top: 20px;
            left: 20px;
            background: red;
        }

        .green {
            top: 60px;
            left: 60px;
            background: green;
        }

        .blue {
            top: 100px;
            left: 100px;
            background: blue;
        }
    }

    #test-menu-click,
    #test-menu-contextmenu {
        text-align: center;
        margin-top: 25px;

        * {
            margin: 0 10px;
            padding: 5px 10px;

            &:focus {
                outline: solid 5px darkgoldenrod;
            }
        }

        span {
            border: solid 2px #888;
        }
    }

}
