<div style="padding: 20px;">
    <button data-bind="click: randomizeTotalPages">RANDOMIZE</button>
    <!-- ko foreach: Array.from({ length: 10 }, (_,i)=>i) -->
    <button data-bind="click: $component.set">
        &nbsp;<span data-bind="text: $data"></span>&nbsp;
    </button>
    <!-- /ko -->
    <component-paginator data-name="pages" style="width: 500px;"></component-paginator>
</div>

<div style="padding: 20px;">
    <a href="#">LEAVE</a>
    <button class="btn btn-primary" data-bind="click: foo">CLICK ME</button>
    <button class="btn btn-primary" data-bind="midclick: foo">MIDCLICK ME</button>
    <button class="btn btn-primary" data-bind="rclick: foo">RIGHT CLICK ME</button>
</div>


<div id="nonpositioned-zindex">
    <div>1234</div>
    <div>7890</div>
</div>

<div id="double">
    <div>
        <div class="component">
            <div class="menu">1</div>
        </div>
    </div>
    <div>
        <div class="component">
            <div class="menu">2</div>
        </div>
    </div>
</div>

<div id="stacking-order">
    <div><!-- 1 -->
        <span class="red"><!-- 6 --></span>
    </div>
    <div><!-- 2 -->
        <span class="green"><!-- 4 --></span>
    </div>
    <div><!-- 3 -->
        <span class="blue"><!-- 5 --></span>
    </div>
</div>

<div id="test-menu-click">
    <button data-bind="click: openMenuOnClick">1111</button>
    <button data-bind="click: openMenuOnClick">2222</button>
    <button data-bind="click: openMenuOnClick">3333</button>
</div>

<div id="test-menu-contextmenu">
    <span tabindex="-1">1111</span>
    <span tabindex="-1">2222</span>
    <span tabindex="-1">3333</span>
</div>

<component-menu data-name="menu">
    <button data-bind="click: $parent.option1">option1</button>
    <button data-bind="click: $parent.option2">option 2</button>
    <button data-bind="click: $parent.option3">option 3</button>
    <button class="disabled">option 4</button>
</component-menu>
