<navbar params="content: navbarContent"></navbar>

<div class="container-fluid" style="margin-top:20px">
    <table class="table table-striped" style="width: 500px; margin: 0 auto;">
        <thead>
            <tr>
                <td style="padding-left: 20px;">#</td>
                <td>Username</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: users -->
            <tr>
                <td class="text-muted" style="vertical-align: middle; text-align: right; width:1%; white-space: nowrap; padding-left: 20px;" data-bind="text: ($index() + 1) + '.'">
                </td>
                <td style="vertical-align: middle;">
                    <span data-bind="text: $data"></span>
                </td>
                <td style="text-align: right;">
                    <div class="btn-group">
                        <a class="btn btn-warning"
                           title="Change password"
                           data-bind="attr: { href: '#/admin/users/' + $data + '/change-password/' }">
                            <i class="fa fa-key"></i>
                        </a>
                        <a class="btn btn-danger"
                           title="Delete user"
                           data-bind="click: $component.openDeleteUserModal">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
</div>

<modal-user-deletion params="
    callbacks: {
        onDeleted: loadUsers.bind($component)
    },
    observables: {
        openUser: openDeleteUserModal
    }
    ">
</modal-user-deletion>