<p class="navbar-text navbar-left">
    <strong>Users</strong>
    <span class="badge" data-bind="text: users().length"></span>
</p>

<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="#/admin/users/create"> <i class="fa fa-file-o"></i> Create new user</a>
    </li>
</ul>